
/* reset & basic styles */
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body{
  height:100%;
}

body{
  background:#fff;
	color:#333333;
	font:normal 16px/26px 'Open Sans', Arial, Helvetica, sans-serif;
	margin:0px;	
	padding:0px;
  overflow-y:scroll;
  overflow-x:hidden;
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;
	text-shadow:0 0;
	-webkit-tap-highlight-color:transparent;
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
}

table, tr, td{
	border:none;
	margin:0px;
	padding:0px;
} 

table{
	border-collapse:collapse;
}

img, button{
	border:0px;
	outline:none;
}

p, div, h1, h2, h3, h4, h5, h6, fieldset, form, input, textarea, header, nav, section, article, aside, footer{
	margin:0px;
	padding:0px;
  display: block;
}

ul, li, ol{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

fieldset{
	border:none;
}

textarea{
	overflow:auto;
	outline:none;
  resize:none;
}

input, select, area{
	outline:none;
}

input [type="submit"]::-moz-focus-inner,
input [type="button"]::-moz-focus-inner{
  padding:0;
  border:0;
}

::-ms-clear {
	display:none;
}

input[type="button"], 
input[type="submit"], 
button{ 
	-webkit-appearance: none !important;
}

.clear{
	clear:both;
	height:0px;
	font-size:0px;
}

a{
	color:#16438d;
	font:normal 17px 'Open Sans', Arial, Helvetica, sans-serif;
	outline:none;
	text-decoration:none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

h1,
h2{
	color:#333;
	font:600 28px/34px 'Open Sans', Arial, Helvetica, sans-serif;
}

h1{
	font-weight:bold;
}

h3{
	color:#333;
	font: 600 22px/28px 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}

h4{
	color:#333333;
	font:bold 22px/28px 'Open Sans', Arial, Helvetica, sans-serif;
}

/* /reset & basic styles */


@font-face {
	font-family: 'CarlitoBold';
	src: url('fonts/carlito-bold-webfont.eot');
	src: url('fonts/carlito-bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/carlito-bold-webfont.woff') format('woff'),
			 url('fonts/carlito-bold-webfont.ttf') format('truetype'),
			 url('fonts/carlito-bold-webfont.svg#CarlitoBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

