/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1910px){

.go-top{
	right:20px;
}


}

/* /1910 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1450px){

.b-download-link span{
	right:0px;
	left:auto;
}

}
/* /1450 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1350px){

.b-wrap{
	padding-left:20px;
	padding-right:20px;
}

.b-map-wrap:not(.b-branches-wrap){
	margin-left:20px;
	margin-right:20px;
}

.b-logo{
	margin-right:20px;
}

.b-button__office{
	right:20px;
}

.b-head-banner{
	margin-right:50px;
	width:280px;
	padding-left:10px;
	padding-right:10px;
}
	
	.b-head-banner__text strong{
		display:inline;
	}
	
.b-button__office{
	float:right;
}

.b-menu{
	margin-left:32px;
}

.b-sidemenu{
	left:20px;
}

.b-preferences:nth-child(5) .b-preferences__head span{
	top:10px;
}

.b-work-plan{
	padding-bottom:20px;
}
	
	.b-work-plan__text{
		padding-right:48px;
	}

.b-page__clients{
	overflow:hidden;
}

.b-clients-slider{
	max-width:1100px;
}

.b-footer__nav,
.b-footer__left{
	width:20%;
	margin-right:5%;
}

.b-directions{
	height:260px;
}
	
	.b-directions__box{
		margin-left:0px;
		margin-right:0px;
	}
		
		.b-direction,
		.b-direction:nth-child(3n+1){
			width:48%;
		}
		
.b-offer{
	width:24% !important;
}
.b-offer:nth-child(5){
	margin-left:0px;
}
	
	.b-offer__icon{
		left:-30px !important;
	}
	
	.b-offer__text{
		padding-right:20px;
	}
		
.b-cooperation:not(.b-cooperation_1){
	padding:22px 20px 0;
}

.b-cooperation__text-1{
	padding-left:20px;
}
	
	.b-offer__text br,
	.b-cooperation__text-1 span br,
	.b-content__hd br{
		display:none;
	}
	
.b-content p strong br,
.b-content__text strong br,
.b-content_multymodal .b-content__list_2 .b-content__list-item br{
	display:none;
}

.b-content__quote br{
	display:none;
}

}
/* /1350 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1270px){

.b-clients-slider{
	max-width:1072px;
}
	
.b-preferences{
	width:47%;
}
	
	.b-preferences__text br{
		display:none;
	}
	
.b-head-banner{
	display:none;
}

.b-logo{
	margin-right:60px;
}
	
.b-form-search{
	width:190px;
}
	
	.b-search__input{
		width:130px;
	}
	
.b-work-plan,
.b-work-plan:nth-child(n+4){
	min-height:230px;
	width:46%;
}
	
	.b-work-plan__text br,
	.b-preference__text br{
		display:none;
	}
	
.b-we-offer__box:nth-child(2){
	width:24%;
}

.b-preference:nth-child(2),
.b-preference:nth-child(3){
	padding-left:30px;
}

.b-offer-2{
	width:32%;
}

.b-offer-2.b-offer-3{
	width:24%;
	padding-left:0px !important;
	left:0px !important;
	padding-right:0px !important;
}

.b-missions{
	text-align:center;
}

	.b-mission{
		width:32% !important;
		padding-left:0px !important;
	}
		
		.b-mission .b-we-offer__text br{
			display:none;
		}

.b-certification{
	width:32.5% !important;
	left:0px !important;
	padding-left:0px !important;
}

.description-cards-slider{
	position:relative;
	left:-2%;
	margin-right:-2%;
	width:102%;
}

	.b-description-card{
		display:inline-block;
		vertical-align:top;
		margin-left:2%;
		width:100%;
	}

}
/* /1270 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1180px){

.b-clients-slider{
	max-width:962px;
}
	
	.b-clients-slide.active .b-clients-slide__content{
		left:-1%;
		width:102%;
	}
	
.b-btn__calculate{
	padding-left:40px;
	width:140px;
}
.b-btn__calculate:before{
	left:10px;
}

.b-menu__link{
	padding-left:6px;
	padding-right:6px;
}

.b-offer{
	width:49% !important;
}

.b-cooperation__text-1 span{
	font-size:16px;
	line-height:22px;
}

.b-cooperation__text{
	font-size:13px;
	line-height:18px;
}

.description-cards-slider .slick-list{
	overflow:hidden;
}

.description-cards-slider{
	left:0;
	margin-right:0px;
	width:auto;
	margin:0 20px;
}
	
	.b-description-card{
		margin-left:10px;
		margin-right:10px;
		min-height:398px;
	}
	
	.description-cards-slider .slick-prev{
		left:-20px;
	}
	.description-cards-slider .slick-next{
		right:-20px;
	}
	
.b-goods{
	padding-left:0px !important;
	width:24% !important;
}

.b-examples-slider .slick-prev{
	left:-15px;
}

.b-examples-slider .slick-next{
	right:-15px;
}

.b-example{
	width:auto;
	min-width:161px;
}

.b-goods.b-goods_2{
	width:19% !important;
}

.b-goods.b-goods_3{
	display:table;
	width:100% !important;
}
	
	.b-goods.b-goods_3 .b-preference__icon, 
	.b-goods.b-goods_3 .b-preference__icon{
		margin-left:0px !important;
	}
	
	.b-goods_3 .b-preference__text{
		margin-left:136px !important;
	}

}
/* /1180 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1120px){

.b-slider__content{
	width:533px;
}

.b-slider__man{
	right:323px;
}

.b-footer__nav, .b-footer__left{
	width:23%;
	margin-right:2%;
}
	
	.b-footer__nav-link{
		display:inline;
	}


}
/* /1120 */



/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1090px){

.b-clients-slider{
	max-width:832px;
}
	
.b-slider__content{
	width:433px;
	padding:30px 30px 40px 95px;
	font-size:18px;
	line-height:25px;
}
	
	.b-slider__content strong{
		font-size:32px;
		line-height:32px;
	}

.b-slider__man{
	right:223px;
}

.b-form-search{
	width:180px;
}
	
	.b-search__input{
		width:120px;
	}
	
.b-goods__link span:before{
	left:-40px;
}

.b-goods__link_sea span:before{
	left:-35px;
}

.b-goods__link span{
	font-size:16px;
}

.b-offers-3{
	text-align:center;
}

	.b-offer-2.b-offer-3{
		width:32%;
	}

}
/* /1090 */



/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:1020px){

.b-menu{
	margin-left:10px;
}

.b-content{
	margin-left:270px;
}

}
/* /1020 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:999px){

.b-form-search{
	width:45px;
	cursor:pointer;
}
	
	.b-form-search__icon{
		display:block;
	}

	.b-form-search .b-search__input{
		background:#2958a7;
		display:none;
		position:absolute;
		top:0px;
		left:45px;
		height:55px;
		width:150px;
		z-index:200;
		padding-right:15px;
	}

}
/* /999 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:980px){

.b-footer__nav, .b-footer__left{
	width:23%;
	margin-right:1%;
}

	.b-footer__logo-img{
		left:-53px;
		width:245px;
	}
	
	.b-footer__nav-link{
		font-size:13px;
	}
	
.b-slider-box,
.b-slider__item .b-wrap{
	height:400px;
	overflow:hidden;
}
	
	.b-slider__man{
		max-height:350px;
		right:270px;
	}

.b-sidemenu{
	top:-360px;
}
	
	.b-sidemenu__item{
		margin-bottom:15px;
	}

.b-clients-slider{
	max-width:732px;
}

.b-about{
	float:none;
	width:100% !important;
}

.b-about__directions{
	height:auto;
	float:none;
	max-width:60%;
	width:auto;
	padding-top:30px;
	margin:0 auto;
}
	
	.b-directions{
		background-size:contain;
	}
		
		.b-direction,
		.b-direction:nth-child(3n+1){
			width:32%;
		}
		
.b-content{
	margin-left:260px;
}

	.b-cooperation{
		float:none;
		width:100%;
		margin-right:0px !important;
		height:auto;
	}
	
	.b-cooperation__text-1{
		line-height:inherit;
		padding:20px;
	}
		
		.b-cooperation__text-1 span{
			top:0px;
		}
		
		.b-corner-white{
			display:none;
		}
		
		.b-cooperation__text{
			padding-bottom:20px;
			font-size:15px;
		}
		
			.b-cooperation__text br{
				display:none;
			}

.b-headline-3{
	cursor:default !important;
}
		
.b-headline-3:after{
	background:none !important;
}
		
	.b-mobile-back{
		background:url(../img/icons.png?ver1.2) no-repeat 0 -2128px;
		height:18px;
		width:10px;
		position:absolute;
		top:11px;
		left:20px;
		display:block;
		z-index:200;
	}

.b-sidebar,
.b-content{
	padding-top:30px;
}

.b-content_3{
	padding-top:0px;
}
	
	.b-content__img{
		margin-top:0px;
	}

	.b-content__hd{
		line-height:22px;
	}

.b-offer-2{
	width:49%;
	left:0px !important;
	padding-left:0px !important;
}
	
	.b-offer-2 .b-preference__text{
		padding-left:5px;
		padding-right:5px;
	}
	
.b-map__contacts{
	width:370px;
}

.b-goods.b-goods_4{
	margin-bottom:10px;
}

	.b-goods.b-goods_4 .b-preference__text{
		line-height:24px;
		padding-top:20px;
	}

}
/* /980 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:920px){

body.menu-toggle{
	overflow:hidden;
	position:fixed;
}

.mobile-menu-toggle{
	position:absolute;
	top:4px;
	right:7px;
	width:41px;
	height:40px;
	display:block;
	cursor:pointer;
	z-index:10000000;
}

.mobile-menu-close{
	position:fixed;
}

	.mobile-menu-toggle span,
	.mobile-menu-toggle span:before,
	.mobile-menu-toggle span:after{
		content:'';
		background:#16438d;
		display:block;
		height:4px;
		width:33px;
		position:absolute;
		top:8px;
		left:4px;
	}
	
	.mobile-menu-toggle span:after, 
	.mobile-menu-toggle span:before{
		height:4px;
		width:33px;
		position:absolute;
		top:10px;
		left:0px;
	}

	.mobile-menu-toggle span:after{
		top:20px;
	}

.menu-toggle .mobile-menu-toggle{
	position:fixed;
	z-index:1000;
	height:30px;
	right:20px;
}
	
	.menu-toggle .mobile-menu-toggle span{
		background:transparent;
	}

	.menu-toggle .mobile-menu-toggle span:before,
	.menu-toggle .mobile-menu-toggle span:after{
		background: #18448f;
		box-shadow: none;
		height:2px;
		width:36px;
	}
	
	.menu-toggle .mobile-menu-toggle span:before{
		top: 14px;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	
	.menu-toggle .mobile-menu-toggle span:after{
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		top:14px;
	}
	
.menu-toggle nav{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6);
	z-index:1000;
	display:block;
	overflow:auto;
}
	
.menu-toggle .b-menu{
	margin:6px 15px;
	background:#fff;
	float:none;
	padding:42px 0 0;
	box-shadow: 0 0 32px rgba(0,0,0,.7);
}
	
	.menu-toggle .b-menu__item{
		display:block;
		float:none;
		text-align:left;
		margin-right:0px;
		box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2);
	}
	.menu-toggle .b-menu__item:last-child{
		box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2), 0px 2px 5px 0px rgba(0,0,0,0.2);
	}
	
		.menu-toggle .b-menu__link{
			padding:10px 29px 6px;
			line-height:inherit;
			color:#333;
			text-transform:uppercase;
			font-weight:400;
		}
		.b-menu__item:hover .b-menu__link{
			background:none;
		}
		.b-menu__link:hover,
		.b-menu__link.active{
			background:#f8f8f8 !important;
			box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2);
		}
		.menu-toggle .b-menu__item:first-child{
			box-shadow:none;
		}
	
	.b-submenu{
		position:relative;
		top:0px;
		left:0px;
		width:100%;
		background:none;
		padding:0 0 0 44px;
		border:0px;
		box-shadow: none;
	}
		
		.b-submenu__item{
			padding:3px 0 11px;
		}
		
			.b-submenu__link{
				color:#333;
			}
			.b-submenu__link:hover{
				color:#15448c;
			}
			
.menu-toggle nav .b-select_language{
	float:none;
	position:absolute;
	top:21px;
	left:21px;
	z-index:1000000;
	display:block;
}
	
	.b-select_language .customSelect .selectedValue{
		color:#333;
		border-bottom-color:#333;
		font-size:14px;
		height:25px;
		padding-right:0px;
		padding-top:7px;
	}
	
.b-header__top{
	padding-top:3px;
	padding-bottom:0px;
}
	
.b-header .b-wrap{
	padding:0px;
}

	.b-header-group{
		background:#16438d;
		clear:both;
		height:40px;
		width:100%;
		right:0px;
	}
	
	.b-header__phones{
		float:right;
		line-height:inherit;
	}
		
		.b-phones{
			margin:11px 0 0;
			line-height:19px;
		}
		
			.b-phones__num{
				margin-left:0px;
				color:#fff;
				font-size:19px;
				line-height:19px;
			}
			.b-phones__num:before,
			.b-phones__num:after{
				background:none;
			}
			
		.b-phones__num:last-child{
			display:none;
		}
	
	.b-logo{
		margin:8px 0 11px 12px;
		left:0px;
	}
	
	.b-logo__img{
		width:240px;
	}
	
	.b-select_language,
	.b-mail{
		display:none;
	}
	
	.customSelect .selectedValue{
		color:#fff;
		border-bottom-color:#fff;
		margin-left:0;
		line-height:14px;
		padding-top:16px;
		height:31px;
		font-weight:300;
	}
	
	.customSelect{
		font-size:12px;
		height:30px;
		text-align:left;
	}
	
	.b-select_city .customSelect.select-open .selectList{
		margin-top:5px;
		left:2px !important;
		width:148px !important;
		background:#f8f8f8;
	}
		
		.b-select_city .customSelect .selectList dl{
			padding-bottom:3px;
		}
		
		.b-select_city .customSelect dd{
			margin:3px 25px 5px 15px;
			font-size:13px;
		}
		
	.customSelect .selectValueWrap .caret{
		display:none;
	}
	
.b-menu-box{
	background:none;
	height:184px;
}
	
	nav,
	.b-form-search,
	.b-button__office{
		display:none;
	}
	
	.b-buttons{
		padding-left:20px;
		padding-right:20px;
	}
			
	.b-btn__contacts,
	.b-btn__search,
	.b-btn__office-2,
	.b-btn__calculate{
		display:block;
	}
	
	.b-btn__office-2,
	.b-btn__search,
	.b-btn__calculate,
	.b-btn__contacts{
		float:left;
		width:49.2%;
		margin:17px 0 10px;
		background:#fff;
		height:68px;
		box-shadow:  0px 2px 5px 0px rgba(0,0,0,0.25);
		color:#333;
		font-size:12px;
		line-height:12px;
		font-weight:bold;
		text-transform:uppercase;
		padding:47px 0 0;
		text-align:center;
		position:relative;
	}
	.b-btn__office-2:before{
		content:'';
		background:url(../img/icons.png?ver1.2) no-repeat 0 -883px;
		height:30px;
		width:26px;
		top:8px;
		margin-left:-13px;
		position:absolute;
		left:50%;
		margin-left:-13px;
	}
	
	.b-btn__search{
		margin-top:0px;
	}
	.b-btn__search:before{
		content:'';
		background:url(../img/icons.png?ver1.2) no-repeat 0 -943px;
		height:26px;
		width:26px;
		position:absolute;
		top:11px;
		left:50%;
		margin-left:-13px;
	}
	
	.b-btn__calculate{
		float:right;
		color:#dd4343;
		padding-top:35px;
		line-height:14px;
	}
	.b-btn__calculate:before{
		content:'';
		background:url(../img/icons.png?ver1.2) no-repeat 0 -915px;
		height:26px;
		width:20px;
		top:7px;
		left:50%;
		margin-left:-11px;
	}
	
	.b-btn__contacts{
		float:right;
		margin-top:0px;
	}
	.b-btn__contacts:before{
		content:'';
		background:url(../img/icons.png?ver1.2) no-repeat 0 -971px;
		height:30px;
		width:30px;
		top:10px;
		position:absolute;
		left:50%;
		margin-left:-15px;
	}
	
	.b-btn__office-2:hover,
	.b-btn__search:hover,
	.b-btn__calculate:hover,
	.b-btn__contacts:hover,
	.b-sidemenu__item:hover{
		background:#f8f8f8;
		box-shadow: inset 0px 2px 7px 0px rgba(0,0,0,0.25);
	}
	
	.b-btn__search{
		clear:both;
	}
		
		.b-search__input{
			display:block;
		}

.b-slider-box, .b-slider__item .b-wrap{
	height:auto;
}
		
	.b-slider,
	.slider-pagination,
	.owl-carousel.owl-loaded{
		display:none;
	}
	
	.b-sidemenu{
		position:static;
		top:0px;
		left:0px;
	}
	
.b-header{
	position:relative;
}
	
	.b-header__top{
		background:#fff;
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		z-index:900;
		min-width:320px !important;
	}
	
.b-page{
	padding-top:92px;
}

.b-sidemenu__item{
	box-shadow:  0px 2px 5px 0px rgba(0,0,0,0.25);
	padding:0px;
	margin-bottom:9px;
	cursor:pointer;
	min-height:40px;
}
	
	.b-sidemenu__link{
		font:bold 13px/13px 'Open Sans', Arial, Helvetica, sans-serif;
		display:block;
		border-bottom:0px;
		padding:15px 11px 12px 53px;
		margin-left:0px;
		vertical-align:top;
	}
	.b-sidemenu__link:hover{
		border-bottom:0px;
	}
	
	.b-sidemenu__link:before{
		left:15px;
		top:11px;
	}
	.b-link_2:before{
		top:8px;
	}
	.b-link_3:before{
		left:11px;
	}
	.b-link_4:before{
		top:9px;
		left:17px;
	}
	.b-link_5:before,
	.b-link_8:before{
		top:10px;
		left:17px;
	}
	.b-link_6:before{
		top:9px;
		left:14px;
	}
	.b-link_7:before{
		left:16px;
	}
	
h2,
h3{
	font-size:16px;
	line-height:18px;
	text-align:left;
	text-transform:none;
}

.b-headline,
.b-headline-2{
	position:relative;
	cursor:pointer;
}
.b-headline-2{
	border-bottom: 1px solid #cccccc;
	margin-bottom: 27px;
}

.b-headline:after{
	content:'';
	background:url(../img/icons.png?ver1.2) no-repeat 0 -1273px;
	height:13px;
	width:13px;
	position:absolute;
	top:3px;
	right:2px;
}
.b-headline.open-content:after{
	background:none;
}

	.b-headline h2,
	.b-headline-2 h3{
		padding-bottom:11px;
		padding-right:66px;
		position:relative;
		display:block;
		z-index:200;
	}
	.b-headline-2 h3:after{
		content:'';
		background:#dd4343;
		height:2px;
		width:100%;
		position:absolute;
		bottom:-1px;
		left:0px;
	}

	.b-headline h2:after,
	.b-headline-2 h3:after{
		width:50px;
		height:3px;
	}

.b-page__about{
	padding-top:11px;
}

.go-top{
	display:none !important;
}

.mobile-content,
.b-preferences__text,
.b-work-plan__text{
	display:none;
}

.open-content .close-content{
	display:block;
	text-align:right;
	color:#dd4343;
	font-size:11px;
	line-height:11px;
	text-transform:uppercase;
	position:absolute;
	top:2px;
	right:0px;
	cursor:pointer;
}

.b-about__directions{
	max-width:100%;
}

.b-preferences{
	margin-left:1%;
	margin-right:1%;
	width:30%;
	text-align:center;
	margin-top:2px;
	margin-bottom:17px;
}

	.b-preferences__head{
		margin-left:0px;
		display:block;
		line-height:inherit;
		position:relative;
		padding:66px 0 0;
		width:100%;
		min-height:inherit;
	}
	
		.b-preferences__head:before{
			height:70px;
			width:70px;
			display:block;
			left:50%;
			margin-left:-35px;
		}
		
		.b-preferences__head span{
			color:#333333;
			font-size:14px;
			line-height:18px;
			display:block;
			vertical-align:top;
			font-weight:normal;
		}
		
		.b-preferences__head:after{
			left:50%;
			margin-left:-21px;
		}
		
		.b-preferences-1:after{
			background-position:0 -1003px;
			height:46px;
			width:43px;
			top:15px;
		}
		.b-preferences-2:after{
			background-position:0 -1051px;
			height:46px;
			width:41px;
			top:18px;
			margin-left:-20px;
		}
		.b-preferences-3:after{
			background-position:0 -1099px;
			height:44px;
			width:43px;
			top:17px;
		}
		.b-preferences-4:after{
			background-position:0 -1145px;
			height:44px;
			width:43px;
			top:16px;
		}
		.b-preferences-5:after{
			background-position:0 -1191px;
			height:36px;
			width:51px;
			top:22px;
			margin-left:-25px;
		}
		.b-preferences-6:after{
			background-position:0 -1229px;
			height:44px;
			width:43px;
			top:17px;
		}
				
.b-work-plan{
	border-width:2px;
	padding:13px 30px 11px 49px;
	margin-bottom:10px;
	margin-top:0px;
}
		
	.b-work-plan__head{
		font-size:14px;
		line-height:20px;
		padding-bottom:0px;
	}
		
		.b-work-plan__head br{
			display:none;
		}
	
	.b-work-plan__num{
		font-size:23px;
		line-height:24px;
		top:50%;
		margin-top:-13px;
		left:12px;
	}
	
	.b-work-plan__icon{
		display:none;
	}
	
.b-push{
	height:155px;
}

.b-page{
	margin-bottom:-155px;
}
	
.b-footer{
	text-align:center;
	min-height:155px;
	padding-bottom:14px;
}

	.b-footer__nav,
	.b-footer__mail,
	.b-footer__logo{
		display:none;
	}
	
	.b-footer__right{
		padding-top:32px;
	}
	
	.b-footer__left,
	.b-footer__right{
		float:none;
		width:100%;
		margin:0px;
	}
		
		.b-footer__phone{
			display:inline-block;
			vertical-align:top;
			margin:0 7px;
			font-size:15px;
			font-weight:bold;
		}
		.b-footer__phone:before,
		.b-footer__phone:after,
		.b-footer__socials:before{
			background:none;
		}
		
		.b-footer__socials{
			position:relative;
			top:-90px;
			margin-bottom:-90px;
		}
		
	.b-copy{
		line-height:15px;
		padding-top:35px;
		padding-bottom:15px;
	}
	
.b-about__directions,
.b-page__preferences,
.b-page__work-plan,
.b-page__clients{
	padding-top:0px;
}
	
.b-about{
	font-size:14px;
	line-height:20px;
}

.b-headline{
	margin-bottom:20px;
}

.b-page__about > .b-headline{
	margin-bottom:0px;
	cursor:default;
}
.b-page__about > .b-headline:after{
	background:none;
}

.b-about{
	padding-top:7px;
	padding-bottom:1px;
}

.b-page__preferences .mobile-content,
.b-page__work-plan .mobile-content{
	padding-bottom:30px;
}

.b-about__directions{
	padding-top:20px;
}

.b-clients-wrap{
	padding-bottom:16px;
	padding-top:0px;
}

	.b-clients-slide{
		height:auto !important;
		padding-top:0px;
	}
	
		.b-clients-slide__content{
			border-color:transparent;
			background:none;
			position:static;
			box-shadow: none;
			width:100%;
			z-index:1000;
		}
			
			.b-clients-slide__icon{
				margin:12px 12px 0;
				height:81px;
			}
			
			.b-clients-slide__icon img{
				top:16px;
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
			}
			
			.b-clients-slide__hd{
				color:#16438d;
				position:relative;
				padding-top:9px;
				padding-bottom:0px;
			}
			.b-clients-slide__hd:after{
				content:'';
				background:#e0e1e6;
				height:1px;
				width:50px;
				left:50%;
				margin-left:-23px;
				position:absolute;
				bottom:-7px;
			}
			
			.slide .b-clients-slide__hidden{
				display:block;
				font-size:13px;
				line-height:14px;
				padding:12px 15px 15px;
			}
				
				.b-clients-slide__hidden span{
					color:#999999;
					display:block;
					padding:14px 0 0;
				}
				
		.popup-client{
			display:none !important;
		}
				
		.b-clients-wrap .swiper-button-prev, 
		.b-clients-wrap .swiper-button-next{
			top:50%;
			margin-top:-32px;
		}
		
		.b-clients-wrap .swiper-button-prev{
			left:10px;
		}
		
		.b-clients-wrap .swiper-button-next{
			right:10px;
		}
		
.b-work-plan,
.b-work-plan:nth-child(n+4){
	display:block;
	width:100%;
	margin-left:0px;
	margin-right:0px;
	min-height:inherit !important;
}
	
	.b-work-plan__text br{
		display:none;
		padding-right:20px;
	}

.b-phones{
	width:auto;
	padding-right:12px;
}

.b-offer{
	display:table;
	width:100% !important;
	margin-bottom:5px;
}
	
	.b-offer__text{
		padding-right:0px;
		margin-left:110px;
		line-height:96px;
	}
		
		.b-offer__text span{
			line-height:20px;
			display:inline-block;
			vertical-align:middle;
		}
	
	.b-offer__icon{
		left:0px !important;
		float:left;
	}
	
.b-cooperation{
	display:table;
	width:100%;
}
	
	.b-cooperation__icon{
		width:55px;
		float:left;
	}
	
	.b-cooperation__text{
		margin-left:65px;
	}
	
.b-sidebar{
	display:none;
}

.b-content{
	margin-left:0px;
}

.active-link:after{
	background:none;
}

.b-page .b-menu-box{
	height:auto;
}

.b-page__inner .b-buttons,
.b-wrap__breadcrumbs,
.b-page__inner .b-header__phones,
.b-page__inner .b-header__location{
	display:none;
}

.b-mobile__current-page{
	display:block;
	color:#fff;
	font-size:16px;
	line-height:16px;
	text-align:center;
	padding:11px 0 0;
	position:relative;
	left:5px;
}

.b-content_2 h1,
.b-content_3 h1,
.b-headline-4{
	display:none;
}

.b-we-offer__box{
	width:24% !important;
}

.b-we-offer__box:nth-child(2){
	left:0px;
}

.b-form-login{
	margin-top:30px;
	margin-bottom:21px;
	border:0px;
	background:#fff;
}

.b-form{
	width:auto;
}
	
	.b-form-box{
		max-width:320px;
		padding:0px;
	}
	
	.b-form .b-form-box{
		padding-bottom:7px;
	}
	
		.b-form-login__hd{
			font-size:19px;
			line-height:22px;
		}
		
		.b-input-box{
			margin-bottom:12px;
		}
		
		.b-input-box_password{
			margin-bottom:0px;
		}
		
		.b-button{
			height:43px;
			font-size:15px;
		}
		
		.b-button_enter{
			margin-bottom:26px;
		}
		
		.b-form-info{
			font-size:13px;
		}
		
		.b-password-info{
			font-size:16px;
			line-height:20px;
			padding:0 10px 25px;
		}
		.b-password-info:before{
			background:none;
		}
			
			.b-password-info_2 span{
				font-weight:600;
				padding-bottom:30px;
			}
		
			.b-password-info br{
				display:none;
			}
		
.b-content__list-item{
	padding-right:30px;
}

.column{
	width:100% !important;
}

.b-sort-mobile{
	display:table;
	width:100%;
	padding:40px 0 0;
	text-align:center;
}
	
	.b-sort-mobile__link{
		white-space:nowrap;
		display:inline-block;
		vertical-align:top;
		-webkit-transition: all 0s;
		-moz-transition: all 0s;
		-o-transition: all 0s;
		transition: all 0s;
	}
	.b-sort-mobile__link:first-child{
		text-align:left;
	}
	.b-sort-mobile__link:last-child{
		text-align:right;
	}
	.b-sort-mobile__link.link-active{
		cursor:default;
	}
	.b-sort-mobile__link:nth-child(2){
		margin:0 29px;
	}
		
		.b-sort-mobile__link span{
			display:inline;
			vertical-align:top;
			color:#999999;
			font-size:13px;
			line-height:13px;
			border-bottom:1px dashed #999999;
		}
		.b-sort-mobile__link.link-active span{
			color:#333;
			border-bottom-color:transparent;
		}
		
.b-search{
	padding-top:29px;
}

.b-sort_search{
	position:relative;
	margin-bottom:-29px;
}
	
	.b-search__input-box,
	.b-search__input-2{
		height:45px;
	}
	
	.b-search__input-box{
		margin-bottom:9px;
	}
	
	.b-search__button{
		top:13px;
		right:22px;
		background-position:-22px -4168px;
		height:18px;
		width:18px;
	}
		
.b-search__info,
.b-search__info-results{
	text-align:center;
	font-size:14px;
}

.b-search__info{
	padding-bottom:15px;
}

.b-input-box_login .b-input_1,
.b-input-box_phone .b-input_1{
	display:none;
}

.b-input-box_login .b-input_mobile,
.b-input-box_phone .b-input_mobile{
	display:block;
}

.b-modal_3{
	padding-left:10px;
	padding-right:10px;
}

	.b-modal_3 .b-form-box{
		max-width:271px !important;
	}
	
	.b-password-info{
		padding-left:5px;
		padding-right:5px;
	}
	
.b-map__contacts{
	width:350px;
}

.b-contacts{
	padding-left:15px;
	padding-right:15px;
}

.b-goods__cargoes{
	background:none;
	height:auto;
	margin-bottom:71px;
	display:table;
	width:100%;
}
	
	.b-goods__headline{
		display:none;
	}
	
	.b-goods__delivery, 
	.b-goods__cars, 
	.b-goods__price{
		background:none;
		padding:0 0 5px 36px;
		position:relative;
		color:#333;
		font-size:14px;
		line-height:20px;
		text-transform:uppercase;
	}
	.b-goods__delivery:before, 
	.b-goods__cars:before, 
	.b-goods__price:before{
		content:'';
		background:url(../img/icons.png?ver1.2) no-repeat 0 -2106px;
		height:20px;
		width:22px;
		position:absolute;
		top:1px;
		left:0px;
	}
		
		.b-goods__price span{
			font-weight:bold;
			display:block;
		}
		
	.b-note{
		position:relative;
		top:0px;
		text-align:right;
		font-size:12px;
		line-height:14px;
		left:0px;
		width:210px;
		float:right;
		margin:12px 0 0 0;
	}
	
	.b-tabs-wrap{
		background:none;
		height:auto;
		padding:2px 0 0;
		top:-67px;
		margin-bottom:-47px;
		box-shadow:  0px 4px 10px 0px rgba(0,0,0,0.25); 
		border-radius:10px;
	}
			
		.b-tabs__goods{
			margin:0px;
			width:100%;
			height:45px;
			display:table;
		}
			
			.b-goods__item{
				width:33.3%;
			}
			
				.b-goods__link{
					height:45px;
					padding:12px 0 0;
				}
					
					.b-goods__link span{
						text-indent:-9999px;
						width:33px;
						left:0px;
					}
					.b-goods__link:after{
						height:45px;
					}
					
					.b-goods__link span:before,
					.b-goods__link_air span:before{
						left:3px;
					}
					.b-goods__link_sea span:before{
						left:0px;
					}

.b-description-card{
	margin-bottom:24px;
}

.b-examples{
	margin-bottom:19px;
}

	.b-examples__hd{
		padding:9px 8px 8px;
	}
		
		.b-examples__hd > span{
			font-size:15px;
			line-height:21px;
		}
		
		.b-examples__hd:before{
			left:10px;
			top:14px;
		}
		.b-examples__hd:after{
			content:'';
			background:url(../img/icons.png?ver1.2) no-repeat -47px -4111px;
			height:15px;
			width:15px;
			position:absolute;
			right:10px;
			top:14px;
		}
		.example_open:after{
			background-position:-81px -4111px;
		}

.b-content.b-content_goods p{
	padding-bottom:10px;
}

.b-goods{
	width:49% !important;
}

.b-content.b-content_goods{
	padding-bottom:4px;
}

.inputFileVal{
	left:-214px;
}
	
	.inputFileVal{
		max-width:174px;
	}

.b-download-link:hover span{
	display:none;
}

.b-doc__link > span:not(.b-icon) > span.b-doc__link_2{
	color:#16438d;
	border-bottom-color:#16438d;
}
.b-doc__link:hover > span:not(.b-icon) > span.b-doc__link_2{
	color:#7c7c7c;
	border-bottom-color:#7c7c7c;
}

.b-download-link:hover{
	background-position:-44px -3009px;
}

.b-current-time{
	display:none !important;
}

}
/* /920 */



/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:850px){ 

.b-clients-slider{
	max-width:632px;
}

}
/* /850 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:740px){ 

.b-clients-wrap{
	max-width:500px;
	margin:0 auto;
}

.b-clients-slider{
	max-width:332px;
}

.b-directions__box{
	margin-left:0px;
	margin-right:0px;
}
	
	.b-directions{
		background:none;
		height:auto;
		width:auto;
		padding:0px;
	}
		
		.b-directions__box{
			box-shadow:none;
			background:none;
			padding:0px;
		}
			
			.b-directions__list{
				padding:0px;
				position:relative;
				margin-bottom:18px;
			}
	
			.b-direction,
			.b-direction:nth-child(3n+1){
				width:49%;
			}
			
.b-read-more,
.b-read-more_hide{
	display:inline-block;
	vertical-align:top;
	color:#dd4343;
	font-size:13px;
	border-bottom:1px dotted #dd4343;
	margin-left:3px;
	position:relative;
	top:1px;
}

.b-mobile-ellipsis,
.b-read-more_hide{
	display:inline-block;
	vertical-align:top;
}

.b-hidden-text{
	display:none;
}

.b-content_general .b-content__hd{
	text-align:left;
	font-size:14px;
	line-height:20px;
	text-transform:uppercase;
	padding-top:0px;
	padding-bottom:13px;
}

.b-preferences-box{
	padding-bottom:4px;
}

	.b-preference{
		width:100% !important;
		padding:0 0 11px !important;
		display:table;
	}
		
		.b-preference__icon{
			height:55px;
			width:55px;
			float:left;
			margin-top:3px;
		}
		
		.b-goods .b-preference__icon{
			height:60px;
			width:60px;
			float:none;
		}
			
			.b-preference__icon span.b-preference__icon-1{
				background-position:0 -2777px;
				height:36px;
				width:29px;
				left:13px;
				top:12px;
			}
			.b-preference__icon span.b-preference__icon-2{
				background-position:0 -2815px;
				height:37px;
				width:36px;
				left:10px;
				top:10px;
			}
			.b-preference__icon span.b-preference__icon-3{
				background-position:0 -2854px;
				height:29px;
				width:36px;
				left:10px;
				top:14px;
			}
		
		.b-preference__text{
			margin-left:70px;
			text-align:left;
			font-size:14px;
			line-height:18px;
		}
		
		.b-goods .b-preference__text{
			margin-left:0px;
			text-align:center;
		}
		
	.b-offer-2{
		display:table;
		width:100%;
	}
		
		.b-offer-2__icon{
			float:left;
			height:56px;
			width:56px;
		}
		
	.b-offers-2{
		padding-top:17px;
		padding-bottom:1px;
	}
		
		.b-offer-2{
			margin-bottom:16px;
		}
		
			.b-offer-2 .b-preference__text{
				padding-right:0px;
				padding-left:0px;
			}
			
			.b-offer-2__icon{
				margin-top:3px;
			}
			
				.b-offer-2__icon span.b-offer-2__icon-2{
					background-position:0 -3207px;
					height:37px;
					width:25px;
					top:12px;
					left:16px;
				}
				.b-offer-2__icon span.b-offer-2__icon-6,
				.b-preference__icon span.b-goods__icon-7,
				.b-offer-2__icon span.b-offer-3__icon-4{
					background-position:0 -3246px;
					height:37px;
					width:39px;
					top:10px;
					left:8px;
				}
				.b-offer-2__icon span.b-offer-2__icon-4{
					background-position:0 -2815px;
					height:37px;
					width:36px;
					left:10px;
					top:10px;
				}
				.b-offer-2__icon span.b-offer-2__icon-1{
					background-position:0 -1862px;
					height:36px;
					width:36px;
					top:13px;
					left:13px;
				}
				.b-offer-2__icon span.b-offer-2__icon-3{
					background-position:0 -1900px;
					height:35px;
					width:34px;
					top:11px;
					left:10px;
				}
				.b-offer-2__icon span.b-offer-2__icon-5{
					background-position:0 -1999px;
					height:30px;
					width:39px;
					top:15px;
					left:8px;
				}
				
.b-content p.b-content__text-4{
	padding-bottom:5px;
}

.b-content.b-content_train{
	padding-bottom:9px;
}

	.b-content_train .b-content__list_2{
		padding-top:0px;
	}
	
		.b-content_train .b-content__list_2 .b-content__list-item{
			padding-bottom:10px;
			padding-left:41px;
		}
	
	.b-content_train .b-content__list_2{
		padding-bottom:0px;
	}
	
.b-content.b-content_mission{
	padding-bottom:10px;
}
	
	.b-missions{
		padding-top:5px;
		padding-bottom:10px;
	}
		
		.b-mission{
			width:49% !important;
			left:0px !important;
			margin-bottom:35px;
		}
		.b-mission:nth-child(3){
			width:100% !important;
			margin-bottom:35px;
		}
		
		.b-content_mission .b-content__hd{
			padding-bottom:15px;
		}
		
		.b-content_mission .b-content__quote{
			padding-top:8px;
			padding-bottom:10px;
		}
		
		.b-content__hd_values{
			text-align:center !important;
		}
		
.b-content.b-content_multymodal{
	padding-bottom:11px;
}
		
	.b-specials{
		padding-bottom:2px;
	}
			
		.b-special__icon span.b-special__icon-1{
			background-position:0 -3986px;
			height:36px;
			width:36px;
			top:14px;
			left:10px;
		}
		.b-special__icon span.b-special__icon-2{
			background-position:0 -4024px;
			height:36px;
			width:36px;
			top:15px;
			left:10px;
		}
		.b-special__icon span.b-special__icon-3{
			background-position:0 -4062px;
			height:37px;
			width:29px;
			top:12px;
			left:13px;
		}
		
		.b-special__text{
			margin-left:67px;
		}
		
		.b-special{
			padding-bottom:11px;
		}
		.b-special:nth-child(2){
			padding-bottom:13px;
		}
		
		.b-content_multymodal .b-content__hd_2{
			padding-top:0px;
			padding-bottom:8px;
		}
			
			.b-content_multymodal .b-content__list_2 .b-content__list-item{
				padding-bottom:10px;
			}
			
		.b-content_multymodal .b-content__list{
			padding-bottom:1px;
		}
		
		.b-content_multymodal.b-content p.b-content__quote{
			padding-top:15px;
			padding-bottom:18px;
			padding-left:46px !important;
			margin-bottom:12px;
		}
		
.b-search__info_mobile{
	display:block;
	text-align:center;
	padding:0 0 11px;
	font-size:14px;
}

.b-results__path_mobile{
	display:block;
	float:right;
	position:relative;
	top:-4px;
}

.b-search__results{
	clear:both;
}
		
.b-results__item{
	padding:11px 0 10px;
	display:table;
	width:100%;
}
	
	.b-results__path,
	.b-search__info-2,
	.b-search__info{
		display:none;
	}
	
	.b-search__info_mobile{
		display:block;
	}
	
	.b-search__info.b-search__info_mobile{
		padding-bottom:15px;
	}
	
	.b-results__date{
		float:left;
		position:relative;
	}
	
	.b-results__hd,
	.b-content p.b-results__text{
		font-size:14px;
	}
	
	.b-content p.b-results__text{
		line-height:20px;
		padding-top:5px;
		padding-bottom:10px;
	}
	
	.b-results__hd_pdf, .b-results__hd_link{
		margin-left:30px;
		position:relative;
		margin-right:40px;
	}

	.b-results__hd_pdf:before,
	.b-results__hd_link:before{
		background-position:0 -4207px;
		height:22px;
		width:22px;
		left:-30px;
		top:1px;
	} 
	.b-results__hd_link:before{
		background-position:0 -4231px;
	}
	
	.b-results__path_mobile span{
		margin-right:7px;
	}
	
.b-certifications{
	padding-top:1px;
	padding-bottom:13px;
}
	
.b-certification{
	width:100% !important;
	display:table;
	text-align:left;
	margin-bottom:0px;
}
	
	.b-certification .b-preference__icon{
		height:60px;
		width:60px;
		margin-bottom:0px;
		position:relative;
		top:-3px;
	}
	
	.b-certification .b-preference__text{
		line-height:70px;
		display:block;
		vertical-align:middle;
		margin-left:84px;
	}
		
		.b-certification .b-preference__text span{
			line-height:18px;
			display:inline-block;
		}
		
	.b-preference__icon span.b-certification__icon-1{
		background-position:0 -4783px;
		height:40px;
		width:39px;
		top:12px;
		left:10px;
	}
	.b-preference__icon span.b-certification__icon-2{
		background-position:0 -4825px;
		height:39px;
		width:25px;
		top:13px;
		left:19px;
	}
	.b-preference__icon span.b-certification__icon-3{
		background-position:0 -4866px;
		height:33px;
		width:41px;
		top:17px;
		left:7px;
	}
	.b-preference__icon span.b-certification__icon-4,
	.b-preference__icon span.b-goods__icon-4{
		background-position:0 -4899px;
		height:39px;
		width:25px;
		top:11px;
		left:18px;
	}
	.b-preference__icon span.b-certification__icon-5,
	.b-preference__icon span.b-goods__icon-1{
		background-position:0 -4942px;
		height:35px;
		width:39px;
		top:15px;
		left:12px;
	}
	.b-preference__icon span.b-certification__icon-6{
		background-position:0 -4979px;
		height:31px;
		width:41px;
		top:18px;
		left:12px;
	}
	.b-preference__icon span.b-certification__icon-7{
		background-position:0 -5012px;
		height:35px;
		width:40px;
		top:16px;
		left:11px;
	}
	.b-preference__icon span.b-certification__icon-8{
		background-position:0 -5049px;
		height:38px;
		width:33px;
		top:14px;
		left:13px;
	}
	.b-preference__icon span.b-certification__icon-9{
		background-position:0 -5089px;
		height:37px;
		width:39px;
		top:13px;
		left:11px;
	}
	
.b-content_certification .b-content__hd_2{
	padding-top:0px;
	padding-bottom:8px;
}

.b-content_certification .b-content__list_2{
	padding-bottom:0px;
}

	.b-content_certification .b-content__list_2 .b-content__list-item{
		padding-bottom:10px;
	}
	
.b-content p.b-content__text-5{
	padding-top:1px;
}

.b-content.b-content_certification{
	padding-bottom:22px;
}

.b-list-info{
	padding:17px 0 14px;
}
	
	.b-info,
	.b-info:hover{
		padding:0 0 11px;
		margin-bottom:5px;
		border:0px;
		border-bottom:1px solid #cccccc;
		background:none;
	}
		
		.b-info__hd-box{
			padding-bottom:0px;
		}
		
		.b-info__hd{
			font-size:15px;
			padding-right:0px;
			margin-left:36px;
		}
		.b-info__hd:before{
			background-position:0 -2581px;
			height:23px;
			width:25px;
			left:-37px;
			top:3px;
		}
			
			.b-info__details{
				display:none;
			}
			
		.b-info__text{
			padding:7px 0 0;
		}
			
			.b-info__open .b-info__text p{
				font-size:14px;
				line-height:20px;
			}
			
	.b-info__close-mobile{
		display:block;
		position:absolute;
		bottom:6px;
		right:1px;
		background:url(../img/icons.png?ver1.2) no-repeat -64px -4111px;
		height:15px;
		width:15px;
	}
	
	.b-info__open .b-info__close-mobile{
		display:block;
		cursor:pointer;
	}
	
	.b-info__open{
		box-shadow:none;
		padding-bottom:3px !important;
	}
		
		.b-info__open .b-info__hd span{
			color:#dd4343;
			border-bottom-color:#dd4343;
		}
		
		.b-info__open .b-info__text p{
			padding-bottom:20px;
		}

.b-map-wrap{
	height:auto;
	margin-left:0px;
	margin-right:0px;
}
	
	.b-map{
		height:312px;
		margin-top:14px;
		margin-bottom:0px;
	}

	.b-map__contacts{
		position:static;
		width:100%;
		height:auto;
	}
		
		.b-contacts{
			padding:14px 0 0;
			margin-left:20px;
			margin-right:20px;
		}
		.b-contacts_branches{
			margin-left:0px;
			margin-right:0px;
		}
		
			.b-contacts__hd{
				padding-top:14px;
			}
			
				.b-contacts__place{
					font-size:15px;
				}
			
				.b-contacts__flag{
					margin-right:7px;
				}
					
			.b-contacts__content{
				padding-top:3px;
				padding-bottom:9px;
			}
					
				.b-contacts__address,
				.b-contacts__phones,
				.b-contacts__mail,
				.b-contacts__time,
				.b-contacts__phones a{
					font-size:14px;
					line-height:20px;
				}
				
				.b-contacts__item:after{
					right:2px;
				}
				
				.b-contacts__address,
				.b-contacts__phones{
					margin-bottom:10px;
				}
				
				.b-contacts__mail{
					margin-bottom:15px;
				}
				
				.b-contacts__time{
					padding-left:24px;
				}
				
				.b-contacts__item_branch.contacts_open .b-contacts__place{
					color:#dd4343;
					border-bottom-color:#dd4343;
				}
				
.gm-style-iw,
#map-stock .gm-style-iw{
	height:135%;
	width:198px !important;
	left:0px !important;
	padding-top:12px !important;
}

#map-stock .gm-style-iw{
	height:118% !important;
	padding-top:11px !important;
}

#branches-map .gm-style-iw{
	width:268px !important;
	padding-right:0px !important;
}

.infobox{
	width:198px !important;
	padding-top:11px !important;
}

	.map_phones{
		letter-spacing:-0.02em;
	}
	
	.map_hd{
		padding-bottom:7px;
	}
	
	.map_mail{
		margin-bottom:7px;
	}

.b-preference__icon span.b-goods__icon-2{
	background-position:0 -5777px;
	height:39px;
	width:32px;
	top:13px;
	left:14px;
}
.b-preference__icon span.b-goods__icon-3{
	background-position:0 -5818px;
	height:36px;
	width:37px;
	top:15px;
	left:10px;
}

.b-content_goods .b-content__hd{
	padding-top:0px;
	text-align:center;
	padding-bottom:8px;
}

.b-goods .b-preference__icon{
	margin-bottom:3px;
}

.b-goods{
	margin-bottom:9px;
}

.b-goods-box{
	padding-bottom:8px;
}

.b-content_goods .b-content__list_2{
	padding-top:0px;
}
	
	.b-content_goods .b-content__list_2 .b-content__list-item{
		padding-bottom:10px;
	}
	
.b-content.b-content_goods p.b-content__quote{
	padding-top:14px;
}

.b-articles{
	padding-top:0px;
	padding-bottom:25px;
}

	.b-articles__item{
		padding:0px;
		border:0px;
		border-bottom:1px solid #cccccc;
		padding-bottom:9px;
		margin-bottom:11px;
	}
	
	.article-open{
		box-shadow: none;
	}
		
		.b-headline-5{
			margin-bottom:0px;
		}
	
			.b-headline-5 h2{
				font-size:15px;
				line-height:20px;
				font-weight:600;
				padding-bottom:10px;
				padding-right:0px;
			}
			.b-headline-5 h2:after{
				background:none;
			}
			
			.b-info__details:after{
				right:-23px;
			}
		
		.b-articles__date,
		.article-details{
			display:none;
		}
		
		.article-open .article-details{
			display:block;
			right:23px;
			margin-right:0px;
			margin-top:-19px;
		}
		
		.b-mobile{
			display:table;
			width:100%;
		}
		
			.b-mobile .b-articles__date,
			.b-mobile .article-details_mobile{
				display:block;
			}
			
			.b-mobile .article-details_mobile{
				margin-right:0px;
			}
			
		.b-articles__text .hidden-text{
			display:block;
		}
			
		.b-articles__text{
			display:none;
			padding:7px 0 0;
		}
		
		.b-content .b-articles__text p{
			padding-bottom:18px;
		}
	
.b-pagination-2{
	display:none;
}

.b-map_2{
	height:312px;
	position:relative;
	top:0px;
}

.b-tabs_stock{
	margin-top:0px;
	margin-bottom:9px;
}

.b-stock__link{
	height:35px;
	padding-top:5px;
}
	
	.b-stock__link span{
		font-size:16px;
	}

.b-stock-list{
	padding:0px 0 22px;
}

	.b-stock__item{
		border-bottom:0px;
		padding:5px 0;
	}

		.b-stick__headline{
			font-size:14px;
			font-weight:bold;
			border-bottom:1px dashed #333;
			text-transform:uppercase;
			display:inline-block;
			vertical-align:top;
			padding-bottom:0px;
			margin-bottom:15px;
			line-height:20px;
		}
		
		.b-stock__address{
			font-size:14px;
		}
		
.place_hd,
.place_address{
	font-size:13px;
}

.b-map_2{
	margin-bottom:0px;
}

.b-preference__icon span.b-goods__icon-5{
	background-position:0 -5978px;
	height:38px;
	width:37px;
	top:14px;
	left:10px;
}

.b-preference__icon span.b-goods__icon-6{
	background-position:0 -6018px;
	height:39px;
	width:39px;
	top:13px;
	left:11px;
}

.b-goods-box_3{
	padding:3px 0 7px;
	margin-bottom:0px;
}
	
	.b-goods.b-goods_3{
		margin-bottom:12px;
	}

		.b-goods.b-goods_3 .b-preference__icon{
			float:left;
			position:relative;
			left:-2px;
		}
		
			.b-goods_3 .b-preference__text{
				margin-left:73px !important;
				text-align:left;
				line-height:18px;
				padding-top:0px;
			}
			
			.b-goods_3 span.b-goods__icon-8{
				background-position:0 -6225px;
				height:35px;
				width:38px;
				top:13px;
				left:10px;
			}
			.b-goods_3 span.b-goods__icon-9{
				background-position:0 -6262px;
				height:39px;
				width:38px;
				top:14px;
				left:11px;
			}
			.b-goods_3 span.b-goods__icon-10{
				background-position:0 -6303px;
				height:38px;
				width:33px;
				top:15px;
				left:14px;
			}
			.b-goods_3 span.b-goods__icon-11,
			.b-offer-2__icon span.b-offer-3__icon-7{
				background-position:0 -6343px;
				height:29px;
				width:42px;
				top:20px;
				left:8px;
			}
			
.b-goods-box_4{
	padding-bottom:4px;
}
			
.b-goods.b-goods_4 .b-preference__icon{
	height:55px;
	width:55px;
}

.b-goods.b-goods_4 .b-preference__text{
	text-align:left;
	margin-left:68px;
	line-height:18px;
	padding-top:8px;
}
	
	.b-goods.b-goods_4 .b-preference__text span{
		line-height:18px;
	}
	
	.b-goods.b-goods_4 span.b-preference__icon-4{
		background-position:0 -6530px;
		height:37px;
		width:34px;
		top:10px;
		left:10px;
	}
	.b-goods.b-goods_4 span.b-preference__icon-5,
	.b-offer-2__icon span.b-offer-3__icon-6{
		background-position:0 -6569px;
		height:35px;
		width:37px;
		top:15px;
		left:12px;
	}
	.b-goods.b-goods_4 span.b-preference__icon-6{
		background-position:0 -1900px;
		height:35px;
		width:34px;
		top:11px;
		left:9px;
	}
	.b-goods.b-goods_4 span.b-preference__icon-8{
		background-position:0 -6604px;
		height:26px;
		width:36px;
		top:17px;
		left:9px;
	}
	.b-goods.b-goods_4 span.b-preference__icon-text{
		font-size:20px;
		line-height:20px;
		padding-top:18px;
		padding-left:0px;
	}
	
.b-content.b-content_customs {
	padding-bottom:18px;
}
	
	.b-content_customs .b-content__hd{
		padding-top:5px;
		padding-bottom:5px;
	}
	
	.b-goods.b-goods_4{
		margin-bottom:4px;
	}
	
	.b-content.b-content_customs p{
		padding-bottom:5px;
	}
	
	.b-content.b-content_customs p.b-content__quote{
		padding-bottom:10px;
		margin-bottom:5px;
	}
	
	.b-content_customs p.b-content__text-6{
		padding-top:10px;
	}
		
		.b-content_customs p.b-content__text-6 br{
			display:none;
		}
		
.b-map_3{
	position:static;
	height:312px;
}

.b-map__branches{
	padding-top:0px;
}

.b-contacts_branches{
	padding-bottom:4px;
}
	
	.b-branch-open{
		text-indent:-9999px;
		top:auto;
		bottom:18px;
		right:10px;
	}
	.b-branch-open:after{
		background-position:0 -4111px;
	}
	.b-contacts__item_branch.contacts_open .b-branch-open{
		bottom:9px;
	}
	
	.b-contacts__item_branch .b-contacts__hd{
		padding-top:12px;
		padding-bottom:9px;
	}
	
	.b-contacts__item_branch{
		border:0px;
		border-bottom:1px solid #cccccc;
		margin-bottom:0px;
		padding:0px;
	}
	.b-contacts__item_branch.contacts_open{
		box-shadow:none;
		border-bottom:2px solid #dd4343;
	}
	
	.b-contacts__item_branch .b-contacts__flag{
		margin-right:11px;
	}
	
	.b-contacts__description, 
	.b-contacts__phones_2{
		font-size:14px;
		line-height:20px;
		padding-bottom:10px;
	}
	
	.b-contacts_address_2, 
	.b-contacts__hd_2{
		font-size:14px;
		line-height:20px;
		padding-bottom:0px;
	}
	
	.b-contacts__item_branch .b-contacts__content{
		padding:0 0 15px 32px;
		position:relative;
		top:-4px;
	}
		
		.b-contacts__phones_2{
			letter-spacing:-0.01em;
		}
		
.map_address, .map_phones_label{
	font-weight:normal;
}

.map_description{
	max-width:210px;
}

.map_hd_2{
	padding-top:1px;
}

.map_phones{
	padding-bottom:0px;
}

.b-offer-2.b-offer-3{
	display:table;
	width:100%;
	margin-bottom:6px;
}

	.b-offer-2.b-offer-3 .b-preference__text{
		line-height:60px;
		padding-top:0px;
		position:relative;
		top:-2px;
	}
	
	.b-offer-2.b-offer-3 .b-offer-2__icon{
		margin-bottom:0px;
	}
		
		.b-offer-2.b-offer-3 .b-preference__text span{
			display:inline-block;
			vertical-align:middle;
			line-height:18px;
		}
		
.b-offer-2__icon span.b-offer-3__icon-1{
	background-position:0 -1862px;
	height:36px;
	width:36px;
	top:13px;
	left:13px;
}
.b-offer-2__icon span.b-offer-3__icon-2{
	background-position:0 -2031px;
	height:37px;
	width:35px;
	top:13px;
	left:12px;
}
.b-offer-2__icon span.b-offer-3__icon-3{
	background-position:0 -1900px;
	height:35px;
	width:34px;
	top:11px;
	left:10px;
}	

.b-offer-2__icon span.b-offer-3__icon-5{
	background-position:0 -6841px;
	height:30px;
	width:36px;
	top:15px;
	left:10px;
}
.b-offer-2__icon span.b-offer-3__icon-8{
	background-position:0 -6873px;
	height:34px;
	width:36px;
	top:13px;
	left:10px;
}

.b-content_fly .b-content__hd{
	padding-top:5px;
	padding-bottom:5px;
}

.b-offers-3{
	padding-top:5px;
	padding-bottom:14px;
}

.b-content_fly .b-content__hd_2{
	padding-top:0px;
	padding-bottom:8px;
}

.b-content_fly .b-content__list_2{
	padding-bottom:0px;
}

	.b-content_fly .b-content__list_2 .b-content__list-item{
		padding-bottom:10px;
	}

}
/* /740 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:700px){ 
	
.b-description-card{
	min-height:305px;
}
	
	.b-card__headline{
		background:#16438d;
		text-align:center;
		min-height:70px;
		height:70px;
	}
	.b-card__headline:before{
		background:none !important;	
	}
		
		.b-card__price{
			padding-top:6px;
			font-size:18px;
			line-height:20px;
			padding-right:0px;
		}
			
			.b-card__price strong{
				font-size:30px;
			}
		
		.b-card__note{
			font-size:13px;
			line-height:13px;
			padding-right:0px;
		}
		
		.b-description__list{
			padding:21px 10px 5px 59px !important;
		}
	
.description-cards-slider .slick-prev{
	left:28px;
	margin-top:0px;
}
.description-cards-slider .slick-next{
	right:28px;
	margin-top:0px;
}

.description-cards-slider .slick-list{
	overflow:visible;
}

.b-goods.b-goods_2{
	width:49% !important;
	margin-bottom:5px;
}
.b-goods.b-goods_2:nth-child(3){
	width:100% !important;
}

.b-content__hd.b-content__hd-6{
	padding-bottom:5px;
}

.b-goods-box_2{
	padding-bottom:19px;
}

.b-content.b-content_goods p.b-content__text-6{
	text-transform:uppercase;
}

}
/* /700 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:560px){ 

.b-preferences{
	width:47%;
}
	
	.b-preferences__head span br{
		display:none;
	}
	
.b-page__preferences .mobile-content,
.b-page__work-plan .mobile-content{
	padding-bottom:20px;
}

.b-header__location{
	width:auto;
	margin-right:0px;
}
	
	.b-select_city{
		width:100px;
		margin-left:13px;
	}
		
		.customSelect dt, .customSelect dd{
			margin-left:5px;
			margin-right:5px;
		}
	
.b-phones{
	margin-right:0px;
}

.b-btn__office-2,
.b-btn__search,
.b-btn__calculate,
.b-btn__contacts{
	width:48%;
}

.b-we-offer__box{
	width:49% !important;
	margin-bottom:30px;
}

.b-we-offer__icon span.b-we-offer__icon-1{
	background-position:0 -2435px;
	height:50px;
	width:44px;
}

.b-we-offer__icon span.b-we-offer__icon-2{
	background-position:0 -2381px;
	height:52px;
	width:53px;
}

.b-we-offer__icon span.b-we-offer__icon-3{
	background-position:0 -2327px;
	height:52px;
	width:50px;
}

.b-we-offer__icon span.b-we-offer__icon-4{
	background-position:0 -2487px;
	height:52px;
	width:50px;
}

.b-we-offer{
	padding-top:4px;
	padding-bottom:4px;
}

	.b-content__hd-5{
		text-align:center;
		padding-bottom:21px;
		text-transform:uppercase;
		font-size:14px;
		line-height:19px;
	}
	
	.b-we-offer__text{
		font-size:14px;
		line-height:18px;
	}
	
	.b-we-offer__box{
		margin-bottom:17px;
	}
	
	.b-today_text{
		padding:0 0 26px;
	}
	
		.b-today_text strong{
			font-size:14px;
			font-weight:600;
			line-height:20px;
			text-transform:uppercase;
			padding-bottom:9px;
		}
	
	.b-today_text span{
		font-size:15px;
		line-height:20px;
	}

.b-content__quote{
	margin-top:2px;
	margin-bottom:8px;
	padding:8px 4px 13px 16px;
	font-size:15px;
}

.b-content__hd-2{
	font-size:14px;
	text-transform:uppercase;
	line-height:19px;
}

.b-content-list{
	padding-top:16px;
	padding-bottom:15px;
}
	
	.b-content-list__item{
		font-size:14px;
		margin-bottom:0px;
	}
	
	.b-content-list__item:before{
		top:9px;
		left:0px;
	}
	
.b-content__list{
	padding-top:4px;
	padding-bottom:4px;
	margin-right:0px;
	width:48%;
}

.b-content__list_2{
	width:100%;
	padding-top:2px;
}
	
	.b-content__list-item{
		font-size:14px;
		padding-right:10px;
		padding-bottom:12px;
		display:block;
	}
	.b-content__list-item:before{
		background-position:0 -2106px;
		height:20px;
		width:22px;
	}
	
	.b-content__list_2 .b-content__list-item{
		line-height:20px;
		padding-left:36px;
	}
	
.b-geography{
	padding-top:6px;
}

	.b-tabs_geography{
		padding-bottom:12px;
	}
	
		.b-tabs_geography-item{
			width:50%;
		}
			
			.b-tabs_geography-item a{
				padding:5px 5px 4px;
			}
			
				.b-tabs_geography-item a span{
					font-size:14px;
				}
			
			.b-tabs_geography-item:nth-child(1) a,
			.b-tabs_geography-item:nth-child(2) a{
				border-bottom:0px;
			}
			.b-tabs_geography-item:nth-child(2) a{
				border-right:1px solid #dd4343;
			}
			
			.b-box__hd{
				font-size:14px;
				line-height:18px;
				text-transform:uppercase;
				padding-bottom:11px;
			}

.b-box p.b-content__quote{
	padding-top:9px;
	padding-bottom:11px;
	padding-right:16px;
}

.b-geography{
	padding-bottom:8px;
}

.b-content.b-content_4{
	padding-bottom:7px;
}

	.b-content.b-content_4 p{
		padding-bottom:15px;
	}
	
		.b-content_4 p.b-content__text-6 strong,
		.b-content__text-7 br{
			display:block;
		}
		
	.b-content_4 .b-content__quote{
		margin-top:0px;
		position:relative;
		top:-3px;
		margin-bottom:12px;
	}
	
	.b-content_4 .b-content__list_2{
		padding-top:6px;
		padding-bottom:0px;
	}
		
		.b-content_4 .b-content__list_2 .b-content__list-item br{
			display:none;
		}
		
.b-content__geography .b-content__quote{
	margin-top:0px;
	position:relative;
	top:-4px;
	margin-bottom:5px;
}

.b-mission{
	margin-bottom:15px;
}
.b-mission:nth-child(3){
	margin-bottom:21px;
}

}
/* /560 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:450px){ 

.b-clients-wrap{
	max-width:280px;
	margin:0 auto;
	padding-left:24px;
	padding-right:24px;
}

.b-clients-slider{
	margin-left:auto;
	margin-right:auto;
	max-width:230px;
}

	.b-clients-wrap .swiper-button-next{
		right:0px;
	}
	
	.b-clients-wrap .swiper-button-prev{
		left:0px;
	}
	
.b-footer .b-wrap{
	padding:0px;
}

.b-content{
	padding-top:25px;
	padding-bottom:1px;
}

	.b-content__img{
		display:none;
	}
	
	.b-content p,
	.b-content__text{
		font-size:14px;
		line-height:20px;
		padding-bottom:10px;
	}
	
	.b-content__hd{
		font-size:14px;
		text-transform:uppercase;
		line-height:20px;
		text-align:left;
		padding-top:0px;
	}
	
	.b-offers{
		padding-bottom:0px;
	}
	
	.b-offer{
		margin-bottom:13px;
	}
	.b-offer:last-child{
		margin-bottom:4px;
	}
	
		.b-offer__icon{
			height:56px;
			width:56px;
		}
		
		.b-offer__icon span.b-offer__icon-1,
		.b-offer-2__icon span.b-offer-3__icon-1{
			background-position:0 -1862px;
			height:36px;
			width:36px;
			top:13px;
			left:13px;
		}
		.b-offer__icon span.b-offer__icon-2,
		.b-offer-2__icon span.b-offer-3__icon-3{
			background-position:0 -1900px;
			height:35px;
			width:34px;
			top:11px;
			left:10px;
		}
		.b-offer__icon span.b-offer__icon-3{
			background-position:0 -1937px;
			height:25px;
			width:36px;
			top:18px;
			left:12px;
		}
		.b-offer__icon span.b-offer__icon-4{
			background-position:0 -1964px;
			height:33px;
			width:26px;
			top:14px;
			left:15px;
		}
		.b-offer__icon span.b-offer__icon-5{
			background-position:0 -1999px;
			height:30px;
			width:39px;
			top:15px;
			left:8px;
		}
		.b-offer__icon span.b-offer__icon-6,
		.b-offer-2__icon span.b-offer-3__icon-2{
			background-position:0 -2031px;
			height:37px;
			width:35px;
			top:13px;
			left:12px;
		}
		.b-offer__icon span.b-offer__icon-7{
			background-position:0 -2070px;
			height:34px;
			width:35px;
			top:12px;
			left:12px;
		}
		
		.b-offer__text{
			margin-left:71px;
			font-size:14px;
			line-height:18px;
			position:relative;
			top:-3px;
		}
			
			.b-offer__text span{
				line-height:18px;
			}
		
	.b-content__hd{
		padding-bottom:10px;
	}
	
.b-cooperation_1{
	background:none;
	margin-bottom:15px;
}
	
	.b-cooperation__text-1{
		background:none;
		font-weight:bold;
		text-transform:uppercase;
		padding:0px;
	}
		
		.b-cooperation__text-1 span{
			color:#333;
			font-size:14px;
			line-height:20px;
		}
		
.b-cooperations{
	padding-bottom:4px;
}
		
	.b-cooperation{
		background:none;
		padding:0px !important;
	}
		
		.b-cooperation__icon{
			background:url(../img/icons.png?ver1.2) no-repeat 0 -2106px;
			height:20px;
			width:22px;
			margin-left:1px;
			position:relative;
			top:1px;
		}
		
			.b-cooperation__icon span{
				background:none;
			}
	
		.b-cooperation__text{
			font-size:14px;
			line-height:20px;
			margin-left:36px;
			padding-bottom:14px;
		}
		
		strong.b-content__text{
			font-size:14px;
			line-height:20px;
			text-transform:uppercase;
		}
		
.b-modal{
	width:auto;
}
		
.b-modal_2{
	padding-top:14px;
	max-width:inherit;
	width:auto;
	margin-left:15px;
	margin-right:15px;
}

.b-form-box{
	max-width:inherit !important;
	width:100% !important;
}

.b-form{
	max-width:100%;
	width:100%;
}
	
	.b-form-info{
		position:relative;
		left:-6px;
	}
	
.b-content_general p{
	padding-bottom:15px;
}

.b-form .b-form-box{
	max-width:100%;
	padding-bottom:7px;
	width:100%;
}

	.b-form .b-form-box .b-form-login__hd{
		white-space:inherit;
		padding-bottom:12px;
	}
	
	.b-input-box_mail{
		margin-bottom:26px;
	}
	
.b-input{
	font-size:14px;
}

.b-modal_2{
	margin-top:10px;
}

	.b-modal_2 .b-close{
		top:7px;
		right:3px;
		height:36px;
		width:36px;
	}
	
	.b-modal_2 .b-close:before,
	.b-modal_2 .b-close:after{
		background:#18448f;
		width:36px;
	}

.b-sort-mobile{
	padding-top:2px;
}
	
	.b-sort-mobile__link.link-active{
		position:relative;
		top:1px;
	}

.b-doc-list{
	padding-top:6px;
	padding-bottom:29px;
}

	.b-doc-list__item{
		padding-top:6px;
		min-height:53px;
	}
	.b-doc-list__item:last-child{
		border-bottom:0px;
	}
	.b-doc-list__item:last-child:hover{
		box-shadow:none;
	}
	
		.b-doc__link{
			font-size:14px;
			padding-left:36px;
		}
		
		.b-doc__link > span:not(.b-icon){
			line-height:18px;
		}
		
		.b-icon_pdf{
			background-position:0 -3031px;
			height:29px;
			width:27px;
			top:6px;
		}
		
		.b-icon_link{
			background-position:0 -3060px;
			height:25px;
			width:25px;
		}
		
		.b-download-link{
			top:12px;
		}
		
.b-special__text{
	font-size:14px;
	line-height:18px;
	padding-top:2px;
}

.b-search{
	padding-top:4px;
}

.b-form-register .b-form-box .b-form-login__hd{
	padding-bottom:16px;
}

.b-contacts{
	padding-top:0px;
}

.b-content_contacts{
	padding-top:14px;
}

.description-cards-slider{
	margin:0px;
	width:114%;
	left:-7%;
}
	
	.b-description-card{
		margin-left:20px;
		margin-right:20px;
		min-height:inherit;
	}
	
.b-examples__hd{
	padding-top:9px;
	padding-bottom:8px;
}

.b-examples__info{
	margin-bottom:3px;
}

.b-examples__rate{
	text-align:center;
	font-size:14px;
	padding-top:7px;
}
	
	.b-examples__rate strong{
		font-size:22px;
	}

.b-example__hd{
	padding-right:5px;
	padding-left:5px;
	text-align:center;
	font-size:14px;
	padding-top:13px;
	padding-bottom:9px;
	line-height:18px;
}

.b-example{
	margin-left:17px;
	margin-right:17px;
	padding-top:3px;
	padding-bottom:16px;
}

.b-examples__content{
	padding-top:9px;
	padding-bottom:23px;
}

.b-examples-slider .slick-prev{
	left:-12px;
	margin-top:-20px;
}

.b-examples-slider .slick-next{
	right:-12px;
	margin-top:-25px;
}

.b-examples-slider{
	margin-bottom:0px;
	padding-top:2px;
}

.b-goods__cars br,
.b-content__hd-6 br{
	display:block;
}

.b-content__hd-7 br{
	display:none;
}

.inputFileVal{
	left:-82px;
	max-width:208px;
	width:230px;
	top:-25px;
}

.remove-file{
	left:auto;
	right:0px;
	top:-25px;
	width:35px;
}
.remove-file:before{
	background-position:-10px -6720px;
	height:13px;
	width:13px;
	top:6px;
	left:13px;
}

.b-button-3{
	margin-top:16px;
}

#count_modal .b-form-login__hd{
	white-space:nowrap;
}

.b-sort-mobile__link{
	float:left;
	width:33%;
	text-align:center;
}
.b-sort-mobile__link:first-child{
	width:32%;
}
.b-sort-mobile__link:last-child{
	width:34%;
}

.b-sort-mobile__link:nth-child(2){
	margin:0px;
}

.b-sort_search{
	margin-bottom:0px;
}

	.b-sort_search .b-sort-mobile__link:first-child{
		width:37%;
	}
	
	.b-sort_search .b-sort-mobile__link:nth-child(2){
		text-align:center;
		width:33%;
	}
	
	.b-sort_search .b-sort-mobile__link:last-child{
		width:29%;
	}


}
/* /450 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:340px){ 

.b-about br:nth-child(2){
	display:block;
}

.b-content p.b-content__quote,
.b-content .b-content__quote{
	position:relative;
	left:-20px;
	margin-right:-20px;
	width:320px;
	padding-left:34px;
	padding-right:30px;
	font-size:14px;
}

.b-map-box,
.b-map_3{
	position:relative;
	left:-20px;
	margin-right:-20px;
	width:320px;
}

.b-content p.b-content__quote{
	padding-left:41px !important;
}

.b-content_train .b-content__quote{
	margin-bottom:5px;
	padding-right:25px !important;
}

.b-content_4 .b-content__quote{
	padding-right:27px !important;
}

.b-content.b-content_mission .b-content__quote{
	padding-left:36px !important;
}

.b-content_certification p.b-content__quote{
	padding-right:15px !important;
}

.b-content.b-content_goods p.b-content__quote{
	padding-right:15px !important;
}

.b-we-offer__icon:before{
	height:43px;
	width:55px;
}

.b-we-offer__icon span.b-mission__icon-1{
	background-position:0 -3561px;
	height:49px;
	width:48px;
	top:-2px;
	left:-4px;
}

.b-we-offer__icon span.b-mission__icon-2{
	background-position:0 -3714px;
	height:38px;
	width:53px;
	top:1px;
	left:-2px;
}

.b-we-offer__icon span.b-mission__icon-3{
	background-position:0 -3612px;
	height:49px;
	width:42px;
	top:-2px;
	left:-4px;
}

.b-we-offer__icon span.b-mission__icon-4{
	background-position:0 -3663px;
	height:51px;
	width:42px;
	top:-2px;
	left:-4px;
}

.b-we-offer__icon span.b-mission__icon-5{
	background-position:0 -3752px;
	height:49px;
	width:46px;
	top:-3px;
	left:-3px;
}

.b-search__input-box{
	left:-20px;
	margin-right:-20px;
	width:320px;
}

.b-certification .b-preference__text br{
	display:block;
}
.b-certification:first-child .b-preference__text br,
.b-certification:nth-child(7) .b-preference__text br,
.b-certification:nth-child(9) .b-preference__text br{
	display:none;
}

.b-tabs-wrap:before{
	content:'';
	background:url(../img/tabs_shadow_mobile.png?ver1.2) no-repeat top center;
	background-size:cover;
	height:56px;
	position:absolute;
	left:50%;
	margin-left:-150px;
	width:301px;
}

.b-content.b-content_goods{
	padding-top:0px;
}

	.b-goods__cargoes{
		padding-top:18px;
		padding-bottom:29px;
		position:relative;
		left:-20px;
		margin-right:-20px;
		width:320px;
		background:#f8f8f8;
		padding-left:20px;
		padding-right:20px;
		z-index:901;
	}
	
	.b-tabs-wrap{
		top:-96px;
		margin-bottom:-76px;
		z-index:902;
	}

}
/* /360 */


/*-----------------------------------------------------------------------------*/
@media only screen and (max-width:330px){ 

body{
	overflow:auto;
}

.b-page{
	overflow:hidden;
	min-width:320px;
}

.b-wrap{
	min-width:320px;
}

.b-tabs-wrap{
	box-shadow:none;
}



}
/* /330px */
