
.b-page{
  min-height: 100%;
  height: auto;
  margin: 0 auto -286px;
	padding-top:148px;
}

.b-wrap{
	max-width: 1300px;
	margin: 0 auto;
}

/* header */

.b-header{
	z-index:999;
	position:fixed;
	width:100%;
	background:#fff;
	top:0px;
	left:0px;
}

.b-header__top{
	min-height:93px;
	padding:10px 0;
}

.b-header-group{
	float:right;
	position:relative;
	right:69px;
	width:430px;
	height:55px;
}
	
	.b-logo{
		float:left;
		position:relative;
		left:-2px;
		margin-right:57px;
		margin-top:18px;
	}
		
		.b-logo__img{
			display:block;
			width:291px;
			height:35px;
		}
			
	.b-head-banner{
		margin:7px 101px 0 0;
		border:1px dotted #30647c;
		border-radius:3px;
		width:351px;
		padding:13px 20px 13px 29px;
		float:left;
		height:58px;
	}
		
		.b-head-banner__img{
			float:left;
			width:30px;
		}
		
		.b-head-banner__text{
			color:#333;
			font-size:13px;
			line-height:17px;
			margin-left:41px;
			margin-bottom:-3px;
			text-transform:uppercase;
			display:block;
			position:relative;
			top:-3px;
		}
			
			.b-head-banner__text strong{
				font-size:15px;
				display:block;
				font-weight:600;
			}
			
	.b-header__phones{
		float:left;
		display:inline-block;
		vertical-align:middle;
		line-height:57px;
	}
		
		.b-phones{
			display:inline-block;
			line-height:20px;
			width:191px;
			margin-top:8px;
		}
			
			.b-phones__num{
				display:inline-block;
				font-size:18px;
				position:relative;
				margin-bottom:7px;
				color:#333;
			}
			.b-phones__num:before,
			.b-mail:before{
				content:'';
				background:#f8f8f8;
				height:26px;
				width:28px;
				position:absolute;
				top:0px;
				left:-36px;
			}
			.b-phones__num:after{
				content:'';
				background:url(../img/icons.png?ver1.2) no-repeat 0 0;
				height:15px;
				width:15px;
				position:absolute;
				top:5px;
				left:-29px;
			}
			
	.b-header__location{
		float:left;
		margin-right:16px;
		width:222px;
	}
	
		.b-select-group{
			display:table;
			width:100%;
		}
			
			.b-select{
				position:relative;
				opacity:0;
				min-height:30px;
			}
			
			.b-select_city{
				margin:0 0 10px 15px;
				float:left;
				width:139px;
			}
			
			.b-select_language{
				margin:0 0 10px 1px;
				float:left;
				width:50px;
			}
		
		.b-mail{
			font-size:17px;
			display:inline-block;
			vertical-align:top;
			border-bottom:1px dashed transparent;
			position:relative;
			margin-left:39px;
		}
		.b-mail:before{
			left:-39px;
		}
		.b-mail:after{
			content:'';
			background:url(../img/icons.png?ver1.2) no-repeat 0 -17px;
			height:12px;
			width:16px;
			position:absolute;
			top:7px;
			left:-32px;
		}
		.b-mail:hover{
			border-bottom-color:#16438d;
		}
		
	.b-header .b-wrap{
		position:relative;
	}
			
	.b-button__office{
		float:right;
		background:#f8f8f8;
		height:58px;
		width:70px;
		margin:7px 0 0;
		text-align:center;
		font-size:12px;
		line-height:12px;
		padding:27px 0 0;
		position:relative;
		position:absolute;
		top:0px;
		right:0px;
	}
	.b-button__office:before{
		content:'';
		background:url(../img/icons.png?ver1.2) no-repeat 0 -31px;
		height:16px;
		width:16px;
		position:absolute;
		top:7px;
		left:50%;
		margin-left:-8px;
	}
	.b-button__office:hover{
		background:#e2e2e2;
	}

/* /header */


.b-menu-box{
	background:#16438d;
	height:55px;
}

	/* search */
	
	.b-form-search{
		background:#2958a7;
		float:left;
		width:228px;
		height:55px;
		position:relative;
		padding-left:45px;
	}
	.b-form-search:before,
	.b-form-search__icon{
		content:'';
		background:url(../img/icons.png?ver1.2) no-repeat 0 -49px;
		position:absolute;
		top:20px;
		left:15px;
		height:16px;
		width:16px;
		display:block;
	}
	.b-form-search__icon{
		display:none;
	}
		
		.b-search__input{
			border:0px;
			background:none;
			color:#f8f8f8;
			font:normal 14px 'Open Sans', Arial, Helvetica, sans-serif;
			height:55px;
			width:165px;
		}
		
		::-webkit-input-placeholder {color:#f8f8f8;}
		::-moz-placeholder          {color:#f8f8f8;}
		:-moz-placeholder           {color:#f8f8f8;}
		:-ms-input-placeholder      {color:#f8f8f8;}
		:focus::-webkit-input-placeholder {color: transparent}
		:focus::-moz-placeholder          {color: transparent}
		:focus:-moz-placeholder           {color: transparent}
		:focus:-ms-input-placeholder      {color: transparent}
		
		/* /search */
		
	/* menu */
	
	.b-menu{
		float:left;
		margin:0 0 0 97px;
	}
		
		.b-menu__item{
			float:left;
			position:relative;
			margin:0 10px 0 0;
		}
		
			.b-menu__link{
				color:#fff;
				font-size:14px;
				line-height:55px;
				display:block;
				padding:0 15px;
				font-weight:300;
			}
			.b-menu__item:hover .b-menu__link{
				background:#2958a7;
			}
			
			.active-link{
				position:relative;
			}
			.active-link:after{
				content:'';
				background:#dd4343;
				height:4px;
				width:100%;
				position:absolute;
				bottom:0px;
				left:0px;
			}
			
			.b-submenu{
				position:absolute;
				top:55px;
				left:0px;
				background:rgba(255,255,255,0.8);
				width:238px;
				border-left:3px solid #375e9d;
				padding:12px 27px 15px;
				z-index:900;
				display:none;
				box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.2);
			}
				
				.b-submenu__item{
					padding:2px 0;
				}
				
					.b-submenu__link{
						color:#333;
						font-size:14px;
						line-height:15px;
					}
					.b-submenu__link:hover{
						color:#16438d;
					}
		
	/* /menu */
	
	.b-btn__calculate{
		background:#dd4343;
		position:relative;
		height:55px;
		width:175px;
		color:#fff;
		text-transform:uppercase;
		font-size:13px;
		line-height:16px;
		font-weight:400;
		padding:12px 0 0 64px;
		float:right;
		-webkit-transition: all 0s;
		-moz-transition: all 0s;
		-o-transition: all 0s;
		transition: all 0s;
	}
	.b-btn__calculate:before{
		content:'';
		background:url(../img/icons.png?ver1.2) no-repeat 0 -67px;
		height:25px;
		width:21px;
		position:absolute;
		top:16px;
		left:27px;
	}
	.b-btn__calculate:hover{
		background:#e45151;
	}

/* main slider */

.b-slider-box{
	position:relative;
	height:492px;
	width:100%;
}
	
	.b-slider{
		position:relative;
		width:100%;
    height: 100%;
	}
	
		.b-slider__item{
			height:492px;
			width:100%;
			background:url(../img/banners/banner1.jpg?ver1.2) no-repeat top center;
			position:relative;
			overflow:hidden;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-flex-shrink: 0;
			-ms-flex: 0 0 auto;
			flex-shrink: 0;
		}
		
		.b-slider__item-overlay{
			background:url(../img/overlay.png?ver1.2) repeat-y top left;
		}
			
			.b-slider__item .b-wrap{
				position:relative;
				height:492px;
			}
		
			.b-slider__content{
				background:rgba(51,51,51,0.5);
				padding:30px 53px 47px 100px;
				color:#fff;
				font-size:26px;
				line-height:30px;
				position:absolute;
				top:101px;
				right:0px;
				text-align:right;
				width:633px;
			}
				
				.b-slider__content strong{
					font-size:42px;
					line-height:52px;
					font-weight:700;
					display:block;
					padding-bottom:5px;
				}
				
			.b-slider__man{
				display:block;
				position:absolute;
				bottom:0px;
				right:423px;
			}
			
		.slider-pagination{
			position:absolute;
			bottom:22px;
			left:0px;
			text-align:center;
			width:100%;
			z-index:200;
		}

/* /main slider */

/* side menu */

.b-wrap_sidemenu{
	position:relative;
}

.b-sidemenu{
	position:absolute;
	top:-418px;
	left:1px;
	z-index:200;
}
	
	.b-sidemenu__item{
		margin-bottom:20px;
	}
	
		.b-sidemenu__link{
			position:relative;
			margin-left:43px;
			color:#333;
			font-size:14px;
			line-height:20px;
			border-bottom:1px dashed transparent;
			display:inline-block;
			vertical-align:top;
			text-transform:uppercase;
		}
		.b-sidemenu__link:hover{
			border-bottom-color:#16438d;
			color:#16438d;
		}
		
		.b-sidemenu__link:before{
			content:'';
			background:url(../img/icons.png?ver1.2) no-repeat;
			position:absolute;
			top:0px;
			left:-40px;
		}
		
		.b-link_1:before{
			background-position:0 -94px;
			height:21px;
			width:23px;
		}
		.b-link_2:before{
			background-position:0 -117px;
			height:22px;
			width:20px;
			top:-1px;
		}
		.b-link_3:before{
			background-position:0 -141px;
			height:18px;
			width:26px;
			left:-44px;
			top:3px;
		}
		.b-link_4:before{
			background-position:0 -161px;
			height:22px;
			width:16px;
			left:-38px;
			top:1px;
		}
		.b-link_5:before{
			background-position:0 -185px;
			height:19px;
			width:19px;
			left:-38px;
		}
		.b-link_6:before{
			background-position:0 -206px;
			height:22px;
			width:22px;
			left:-41px;
		}
		.b-link_7:before{
			background-position:0 -230px;
			height:18px;
			width:20px;
			left:-39px;
			
		}
		.b-link_8:before{
			background-position:0 -250px;
			height:20px;
			width:20px;
			left:-38px;
			top:1px;
		}

/* /side menu */

/* about */

section{
	display:table;
	width:100%;
}

.b-page__about{
	padding:53px 0 0;
}
	
.b-headline{
	border-bottom:1px solid #cccccc;
	margin-bottom:27px;
}
	
	.b-headline h2{
		display:inline-block;
		vertical-align:top;
		position:relative;
		padding-bottom:15px;
	}
	.b-headline h2:after{
		content:'';
		background:#dd4343;
		height:2px;
		width:100%;
		position:absolute;
		bottom:-1px;
		left:0px;
	}

.b-about{
	float:left;
	padding:10px 0 0;
	width:55% !important;
	overflow:hidden;
	font-size:16px;
	line-height:26px;
}
	
.b-about__directions{
	float:right;
	width:43%;
}

	.b-headline-2{
		text-align:center;
		margin-bottom:8px;
		border-bottom:0px;
	}
	
	.b-directions{
		background:url(../img/map.png?ver1.2) no-repeat top center;
		background-size:cover;
		width:100%;
		height:289px;
		padding:28px 0 0;
	}
		
		.b-directions__box{
			background:rgba(255,255,255,0.6);
			margin:0 18px 0 37px;
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
		}
			
			.b-directions__list{
				padding:26px 0 24px 30px;
			}
				
				.b-direction{
					display:inline-block;
					vertical-align:top;
					width:31%;
					padding:0 5px 5px 0;
				}
				.b-direction:nth-child(3n+1){
					width:34.5%;
				}
					
					.b-direction__link{
						color:#333;
						font-size:15px;
						line-height:16px;
						display:block;
					}
					.b-direction__link:hover{
						color:#135878;
					}
					
						.b-direction__flag{
							display:block;
							margin:0 14px 0 0;
							float:left;
							max-width:28px;
							border-radius:3px;
						}

/* /about */

/* preferences */

.b-page__preferences{
	padding:28px 0 0;
}
	
	.b-preferences{
		display:inline-block;
		vertical-align:top;
		margin:13px 0.2% 22px 2.5%;
		width:29.8%;
	}
		
		.b-preferences__head{
			line-height:75px;
			display:inline-block;
			vertical-align:middle;
			margin-left:118px;
			min-height:100px;
			position:relative;
		}
		
			.b-preferences__head span{
				display:inline-block;
				line-height:24px;
				font-size:19px;
				color:#16438d;
				font-weight:700;
				position:relative;
				top:10px;
			}
			.b-preferences:nth-child(4) .b-preferences__head span{
				top:25px;
			}
			
			.b-preferences__head:before{
				content:'';
				background:#f8f8f8;
				height:100px;
				width:100px;
				border-radius:200px;
				position:absolute;
				top:0px;
				left:-119px;
			}
			.b-preferences__head:after{
				content:'';
				background:url(../img/icons.png?ver1.2) no-repeat;
				position:absolute;
				top:22px;
				left:-97px;
				width:57px;
			}
		
			.b-preferences-1:after{
				background-position:0 -272px;
				height:61px;
			}
			.b-preferences-2:after{
				background-position:0 -335px;
				height:60px;
				top:25px;
			}
			.b-preferences-3:after{
				background-position:0 -398px;
				height:57px;
				top:25px;
			}
			.b-preferences-4:after{
				background-position:0 -457px;
				height:57px;
				top:24px;
			}
			.b-preferences-5:after{
				background-position:0 -516px;
				height:47px;
				width:69px;
				top:31px;
				left:-103px;
			}
			.b-preferences-6:after{
				background-position:0 -565px;
				height:57px;
				top:24px;
			}
			
		.b-preferences__text{
			font-size:15px;
			line-height:24px;
			padding:9px 0 0;
		}

/* /preferences */

/* work plan */

.b-page__work-plan{
	padding:33px 0 0;
}

	.b-work-plan{
		display:inline-block;
		vertical-align:top;
		border:3px dashed #e2e2e2;
		margin:19px 0 30px 2.5%;
		width:30%;
		min-height:219px;
		padding:28px 5px 5px 62px;
		position:relative;
		color:#333;
		-webkit-transition: all 0s;
		-moz-transition: all 0s;
		-o-transition: all 0s;
		transition: all 0s;
	}
	.b-work-plan:hover{
		border-color:#16438d;
	}
	.b-work-plan:nth-child(n+4){
		min-height:242px;
	}
		
		.b-work-plan__num{
			color:#dd4343;
			font:bold 30px/30px CarlitoBold, Arial, Helvetica, sans-serif;
			position:absolute;
			top:25px;
			left:23px;
			font-weight:700;
		}
		.b-work-plan:hover .b-work-plan__num{
			color:#16438d;
		}
		
		.b-work-plan__head{
			display:block;
			font-size:19px;
			line-height:24px;
			padding-bottom:6px;
			font-weight:600;
		}
		
		.b-work-plan__text{
			font-size:15px;
			line-height:24px;
			display:block;
			padding-right:26px;
		}
		
		.b-work-plan__icon{
			background:#fff;
			height:49px;
			width:48px;
			position:absolute;
			bottom:-3px;
			right:-3px;
		}
		.b-work-plan__icon:before{
			content:'';
			background:url(../img/icons.png?ver1.2) no-repeat;
			position:absolute;
			top:10px;
			right:-2px;
		}
		
		.b-work-plan__icon_1:before{
			background-position:0 -668px;
			height:40px;
			width:42px;
		}
		.b-work-plan:hover .b-work-plan__icon_1:before{
			background-position:-44px -668px;
		}
		
		.b-work-plan__icon_2:before{
			background-position:0 -710px;
			height:42px;
			width:42px;
			top:7px;
			right:0px;
		}
		.b-work-plan:hover .b-work-plan__icon_2:before{
			background-position:-44px -710px;
		}
		
		.b-work-plan__icon_3:before{
			background-position:0 -624px;
			height:44px;
			width:42px;
			top:7px;
			right:2px;
		}
		.b-work-plan:hover .b-work-plan__icon_3:before{
			background-position:-44px -624px;
		}
		
		.b-work-plan__icon_4:before{
			background-position:0 -754px;
			height:34px;
			width:46px;
			top:14px;
			right:1px;
		}
		.b-work-plan:hover .b-work-plan__icon_4:before{
			background-position:-48px -754px;
		}
		
		.b-work-plan__icon_5:before{
			background-position:0 -790px;
			height:32px;
			width:46px;
			top:16px;
			right:0px;
		}
		.b-work-plan:hover .b-work-plan__icon_5:before{
			background-position:-48px -790px;
		}
		
		.b-work-plan__icon_6:before{
			background-position:0 -824px;
			height:38px;
			width:42px;
			top:12px;
			right:3px;
		}
		.b-work-plan:hover .b-work-plan__icon_6:before{
			background-position:-44px -824px;
		}

/* /work plan */

/* clients slider */

.b-page__clients{
	padding:29px 0 0;
}
	
	.b-clients-slider{
		margin:0 auto;
		max-width:1232px;
		position:relative;
		overflow:hidden;
	}
	
	.b-clients-wrap{
		position:relative;
		padding:16px 34px 130px;
	}
		
		.b-clients-slide{
			border:1px solid #cccccc;
			height:164px !important;
			text-align:center;
			position:relative;
			padding:9px 0 0;
			cursor:pointer;
		}
		
		.popup-client .b-clients-slide__content{
			border-color:#fff;
			background:#fff;
			box-shadow:  0px 3px 10px 0px rgba(0,0,0,0.12);
			width:122%;
			z-index:1000;
		}
			
			.b-clients-slide__icon{
				height:88px;
				background:#f8f8f8;
				margin:0 11px;
				position:relative;
				text-align:center;
				overflow:hidden;
				display:block;
			}
			.popup-client .b-clients-slide__icon{
				margin:10px 16px 0;
				height:101px;
			}
			
			.b-clients-slide__icon img{
				position:relative;
				top:20px;
				display:block;
				width:auto;
				max-height: 55px;
				-webkit-transition: transform 0.35s ease;
				-o-transition: transform 0.35s ease;
				transition: transform 0.35s ease;
				display: block;
				margin:0 auto;
			}
			.b-clients-slide:hover .b-clients-slide__icon img{
				-webkit-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
			}
			.popup-client .b-clients-slide__icon img{
				top:26px;
			}
			
			.b-slide-icon_1{
				height:51px;
				width:56px;
			}
			.b-slide-icon_2{
				height:55px;
				width:55px;
				top:18px;
			}
			.b-slide-icon_3{
				height:54px;
				width:56px;
			}
			.b-slide-icon_4{
				height:51px;
				width:55px;
				top:21px;
			}
			.b-slide-icon_5{
				height:55px;
				width:54px;
				top:17px;
			}
			.b-slide-icon_6{
				height:55px;
				width:45px;
				top:18px;
			}
			
		.b-clients-slide__hd{
			font-size:15px;
			line-height:20px;
			display:block;
			padding:3px 10px 0;
			color:#333;
		}
		.popup-client .b-clients-slide__hd{
			color:#16438d;
			position:relative;
			padding-top:14px;
		}
		.popup-client .b-clients-slide__hd:after{
			content:'';
			background:#e0e1e6;
			height:1px;
			width:50px;
			left:50%;
			margin-left:-23px;
			position:absolute;
			bottom:-7px;
		}
		
		.b-clients-slide__hidden{
			display:block;
			font-size:13px;
			line-height:14px;
			padding:12px 15px 25px;
			color:#333;
		}
		
		.slide .b-clients-slide__hidden{
			display:none;
		}
			
			.b-clients-slide__hidden span{
				color:#999999;
				display:block;
				padding:14px 0 0;
			}
			
.slide{
	display:block;
	width:100%;
}
		
.popup-client {
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.17);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.17);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.17);
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: #fff;
	text-align: left;
	box-sizing: border-box;
	display: none;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.b-clients-nav{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}

/* /clients slider */

/* footer */

.b-push{
	clear: both;
  height:286px;
  width:100%;
}

.b-footer{
	background:#f8f8f8;
	min-height:286px;
	padding:28px 0 20px;
}

.b-footer .b-wrap{
	position:relative;
}

	.b-footer__left{
		float:left;
		margin:5px 90px 0 0;
		width:260px;
	}
	
		.b-footer__logo{
			display:block;
			margin-left:3px;
			margin-bottom:6px;
			overflow:hidden;
		}
			
			.b-footer__logo-img{
				display:block;
				position:relative;
				left:-59px;
				width:270px;
			}
			
		.b-copy{
			color:#999999;
			font-size:13px;
			line-height:22px;
			display:block;
			padding:21px 0 0 2px;
		}
		
	.b-footer__nav{
		float:left;
		margin:0 105px 0 0;
		width:213px;
	}
		
		.b-footer__nav-item{
			padding:0 0 2px;
		}
		
			.b-footer__nav-link{
				color:#666;
				font-size:15px;
				line-height:22px;
				display:inline-block;
				vertical-align:top;
				border-bottom:1px dashed #666;
			}
			
	.b-footer__right{
		float:right;
		padding:9px 0 0;
		width:228px;
	}
	
		.b-footer__phone{
			color:#333;
			font-size:18px;
			line-height:18px;
			margin-bottom:17px;
			position:relative;
			margin-left:38px;
			display:block;
		}
		.b-footer__mail{
			font-size:17px;
			line-height:16px;
			margin-left:38px;
			margin-bottom:20px;
			position:relative;
			top:-5px;
			padding-left:2px;
		}
		
		.b-footer__phone:before,
		.b-footer__mail:before{
			content:'';
			background:#16438d;
			height:26px;
			width:28px;
			position:absolute;
			top:-3px;
			left:-36px;
		}
		.b-footer__mail:before{
			top:0px;
		}
		
		.b-footer__phone:after{
			content:'';
			background:url(../img/icons.png?ver1.2) no-repeat -17px 0;
			height:15px;
			width:15px;
			position:absolute;
			top:2px;
			left:-29px;
		}
		.b-footer__mail:after{
			content:'';
			background:url(../img/icons.png?ver1.2) no-repeat -18px -17px;
			height:12px;
			width:16px;
			position:absolute;
			top:7px;
			left:-30px;
		}
		
		.b-footer__socials{
			position:relative;
			padding:13px 0 15px;
			margin-top:9px;
		}
		.b-footer__socials:before{
			content:'';
			background:#cccccc;
			height:1px;
			width:50px;
			position:absolute;
			top:0px;
			left:2px;
		}
		
			.b-footer__socials a{
				background:url(../img/socials.png?ver1.2) no-repeat;
				height:28px;
				width:28px;
				display:inline-block;
				vertical-align:top;
				margin-left:3px;
				margin-right:3px;
			}
			
			.b-footer__socials a.vk{
				background-position:0 0;
			}
			.b-footer__socials a.fb{
				background-position:-38px 0;
			}
			.b-footer__socials a.ok{
				background-position:-76px 0;
			}
			.b-footer__socials a.inst{
				background-position:-115px 0;
			}
			.b-footer__socials a.gp{
				background-position:-153px 0;
			}
			.b-footer__socials a.tw{
				background-position:-191px 0;
			}
		
		.b-footer__nav-link:hover,
		.b-site-mobile:hover{
			border-bottom-color:transparent;
		}
		
	.go-top{
		background:#fff;
		border:2px solid #dd4343;
		text-align:center;
		color:#dd4343;
		height:50px;
		width:65px;
		position:fixed;
		bottom:20px;
		right:217px;
		display:block;
		text-transform:uppercase;
		font-size:13px;
		line-height:13px;
		padding:23px 0 0;
		cursor:pointer;
		z-index:900;
	}
	.go-top:before{
		content:'';
		border-bottom:9px solid #dd4343;
		border-left:9px solid transparent;
		border-right:9px solid transparent;
		position:absolute;
		top:9px;
		left:20px;
	}
	.go-top:hover{
		border-color:#f46161;
		color:#f46161;
	}
	.go-top:hover:before{
		border-bottom-color:#f46161;
	}
			
/* /footer */

.mobile-menu-toggle,
.b-btn__contacts,
.b-btn__search,
.b-btn__office-2,
.close-content,
nav .b-select_language,
.b-mobile-ellipsis,
.b-read-more,
.b-read-more_hide,
.b-about br:nth-child(2){
	display:none;
}


.b-breadcrumbs{
	padding:12px 0;
}

	.b-breadcrumbs__link{
		color:#999999;
		font-size:11px;
		line-height:18px;
		font-weight:600;
		display:inline-block;
		vertical-align:top;
		border-bottom:1px dashed #999999;
		position:relative;
		margin:0 20px 0 0;
		text-transform:uppercase;
	}
	.b-breadcrumbs__link:after{
		content:'';
		background:url(../img/icons.png?ver1.2) no-repeat 0 -1852px;
		height:8px;
		width:4px;
		position:absolute;
		top:5px;
		right:-13px;
	}
	.b-breadcrumbs__link:hover{
		border-bottom-color:transparent;
	}
	
	.b-breadcrumbs__current{
		color:#333333;
		font-size:11px;
		line-height:18px;
		font-weight:600;
		text-transform:uppercase;
		display:inline-block;
		vertical-align:top;
	}
	
.b-sidebar{
	float:left;
	padding:13px 0 0;
	width:245px;
}

	.b-headline-3{
		border-bottom:0px;
		margin-bottom:22px;
	}
	
		.b-headline-3 h2{
			font-size:22px;
			padding-bottom:10px;
		}
		.b-headline-3 h2:after{
			height:3px;
			width:64px;
		}
		
	.b-side-nav{
		padding-bottom:30px;
	}
	
		.b-side-nav__link{
			padding:4px 0 5px;
			display:block;
			margin-bottom:4px;
		}
		.side-link__current{
			background:#f8f8f8;
			padding-left:14px;
			padding-right:5px;
		}
			
			.b-side-nav__link span{
				color:#333;
				font-size:16px;
				line-height:22px;
				border-bottom:1px dashed transparent;
				display:inline-block;
				vertical-align:top;
			}
			.b-side-nav__link:hover span{
				border-bottom-color:#999999;
				color:#999999;
			}
			.side-link__current span,
			.side-link__current:hover span{
				color:#dd4343;
				border-bottom-color:transparent;
			}
			.side-link__current{
				cursor:default;
			}
		
.b-content{
	margin-left:317px;
	padding:14px 0 36px;
}

	.b-content__img{
		display:block;
		max-width:100%;
		margin-bottom:26px;
		margin-top:7px;
	}
	
	.b-content p,
	.b-content__text{
		font-size:15px;
		line-height:24px;
		padding-bottom:24px;
	}
	
	strong.b-content__text{
		font-size:22px;
		line-height:30px;
		display:block;
		padding-bottom:24px;
	}
	
	.b-content p.b-content__text-2{
		padding-bottom:15px;
	}
	
	.b-content__hd{
		text-transform:none;
		text-align:center;
		font-weight:bold;
		line-height:30px;
		padding:5px 0 27px;
	}
	
	.b-offers{
		padding-bottom:10px;
		text-align:center;
	}
	.b-offers-2{
		padding-bottom:10px;
	}
	
		.b-offer{
			display:inline-block;
			vertical-align:top;
			width:26%;
			margin:0 0 35px 0;
			text-align:left;
		}
		.b-offer:nth-child(2){
			width:23.3%;
		}
		.b-offer:nth-child(3){
			width:27.4%;
		}
		.b-offer:nth-child(4){
			width:22%;
		}
		.b-offer:nth-child(5){
			margin-left:78px;
			width:26.8%;
		}
		.b-offer:nth-child(6){
			width:27.8%;
		}
		
		.b-offer-2{
			display:inline-block;
			vertical-align:top;
			width:33%;
			text-align:center;
			margin-bottom:44px;
		}
		.b-offer-2:nth-child(1),
		.b-offer-2:nth-child(4){
			position:relative;
			left:-12px;
		}
		.b-offer-2:nth-child(2),
		.b-offer-2:nth-child(5){
			padding-left:10px;
		}
		.b-offer-2:nth-child(3),
		.b-offer-2:nth-child(6){
			padding-left:30px;
		}
			
			.b-offer__icon,
			.b-preference__icon,
			.b-offer-2__icon{
				background:#f8f8f8;
				border-radius:200px;
				height:96px;
				width:96px;
				position:relative;
				margin:0 auto 12px;
				left:-30px;
			}
			.b-offer-2__icon{
				left:0px;
			}
				
				.b-offer__icon span,
				.b-offer-2__icon span{
					background:url(../img/icons.png?ver1.2) no-repeat;
					position:absolute;
				}
				
				.b-offer__icon span.b-offer__icon-1,
				.b-offer-2__icon span.b-offer-2__icon-1,
				.b-offer-2__icon span.b-offer-3__icon-1{
					background-position: 0 -1288px;
					height:58px;
					width:59px;
					top:21px;
					left:23px;
				}
				.b-offer__icon span.b-offer__icon-2,
				.b-offer-2__icon span.b-offer-2__icon-3,
				.b-goods.b-goods_4 span.b-preference__icon-6,
				.b-offer-2__icon span.b-offer-3__icon-3{
					background-position: 0 -1346px;
					height:59px;
					width:55px;
					top:17px;
					left:18px;
				}
				.b-offer__icon span.b-offer__icon-3{
					background-position: 0 -1407px;
					height:40px;
					width:60px;
					top:31px;
					left:22px;
				}
				.b-offer__icon span.b-offer__icon-4{
					background-position: 0 -1449px;
					height:53px;
					width:45px;
					top:23px;
					left:26px;
				}
				.b-offer__icon span.b-offer__icon-5,
				.b-offer-2__icon span.b-offer-2__icon-5,
				.b-we-offer__icon span.b-mission__icon-2{
					background-position: 0 -1504px;
					height:49px;
					width:66px;
					top:25px;
					left:15px;
				}
				.b-offer__icon span.b-offer__icon-6,
				.b-offer-2__icon span.b-offer-3__icon-2{
					background-position: 0 -1555px;
					height:59px;
					width:57px;
					top:22px;
					left:22px;
				}
				.b-offer__icon span.b-offer__icon-7{
					background-position: 0 -1616px;
					height:56px;
					width:55px;
					top:21px;
					left:22px;
				}
				.b-offer-2__icon span.b-offer-2__icon-2{
					background-position:0 -3087px;
					height:60px;
					width:41px;
					top:21px;
					left:26px;
				}
				.b-offer-2__icon span.b-offer-2__icon-6,
				.b-preference__icon span.b-goods__icon-7,
				.b-offer-2__icon span.b-offer-3__icon-4{
					background-position:0 -3149px;
					height:56px;
					width:59px;
					top:22px;
					left:19px;
				}
				
				.b-offer:nth-child(2) .b-offer__icon{
					left:-27px;
				}
				.b-offer:nth-child(3) .b-offer__icon{
					left:-20px;
				}
				.b-offer:nth-child(4) .b-offer__icon{
					left:2px;
				}
				.b-offer:nth-child(6) .b-offer__icon{
					left:-44px;
				}
				.b-offer:nth-child(7) .b-offer__icon{
					left:-51px;
				}
				
			.b-offer__text{
				font-size:15px;
				line-height:20px;
			}
	.b-cooperations{
		padding-bottom:33px;
		display:table;
		width:100%;
	}
	
		.b-cooperation{
			float:left;
			width:33%;
			margin:0 0.4% 0.4% 0;
			height:243px;
			background:#f8f8f8;
			position:relative;
			padding:32px 20px 0 44px;
		}
		.b-cooperation:nth-child(3n){
			margin-right:0px;
		}
		.b-cooperation_1{
			background:#16438d;
			padding:0px;
		}
			
			.b-cooperation__icon{
				height:57px;
			}
				
				.b-cooperation__icon span{
					display:block;
					background:url(../img/icons.png?ver1.2) no-repeat;
					position:relative;
				}
				.b-cooperation__icon span.b-cooperation__icon-1{
					background-position:0 -1674px;
					height:35px;
					width:37px;
					left:2px;
				}
				.b-cooperation__icon span.b-cooperation__icon-2{
					background-position:0 -1711px;
					height:39px;
					width:37px;
					left:2px;
				}
				.b-cooperation__icon span.b-cooperation__icon-3{
					background-position:0 -1750px;
					height:29px;
					width:37px;
					top:7px;
					left:-3px;
				}
				.b-cooperation__icon span.b-cooperation__icon-4{
					background-position:0 -1781px;
					height:31px;
					width:38px;
					top:2px;
					left:2px;
				}
				.b-cooperation__icon span.b-cooperation__icon-5{
					background-position:0 -1814px;
					height:36px;
					width:36px;
				}
				
				.b-corner-white{
					border-left:22px solid #fff;
					border-top:22px solid transparent;
					border-bottom:22px solid transparent;
					position:absolute;
					top:50%;
					margin-top:-22px;
					left:-1%;
					height:0;
					width:0;
					display:block;
				}
				.b-corner-white_right{
					border-left:0px;
					border-right:22px solid #fff;
					left:auto;
					right:-1%;
				}
				.b-corner-white_top{
					border-left:22px solid transparent;
					border-right:22px solid transparent;
					border-top:22px solid #fff;
					border-bottom:0px;
					left:50%;
					margin-left:-22px;
					top:-1%;
					margin-top:0px;
				}
					
					.b-corner-grey{
						border-left:18px solid #f8f8f8;
						border-top:18px solid transparent;
						border-bottom:18px solid transparent;
						position:absolute;
						top:-18px;
						left:-24px;
						height:0;
						width:0;
						display:block;
					}
					.b-corner-grey_right{
						border-left:0px;
						border-right:18px solid #f8f8f8;
						left:auto;
						right:-24px;
					}
					.b-corner-grey_top{
						border-left:18px solid transparent;
						border-right:18px solid transparent;
						border-top:18px solid #f8f8f8;
						left:-18px;
						top:-23px;
					}
			
			.b-cooperation__text{
				color:#333;
				font-size:15px;
				line-height:20px;
				padding-bottom:10px;
			}
			
			.b-cooperation__text-1{
				display:block;
				padding:0 15px 0 33px;
				font-size:18px;
				line-height:243px;
			}
				
				.b-cooperation__text-1 span{
					color:#fff;
					font-size:18px;
					line-height:26px;
					font-weight:600;
					display:inline-block;
					vertical-align:middle;
					position:relative;
					top:-5px;
				}
		
.b-mobile-back,
.b-mobile__current-page{
	display:none;
}

.b-content_2 h1{
	padding-bottom:15px;
}

.b-content__quote{
	background:#f8f8f8;
	display:block;
	padding:20px 20px 24px 25px;
	font-size:15px;
	line-height:20px;
	margin:6px 0 17px;
	font-weight:600;
}

.b-content__vacancy p,
.b-content__vacancy .b-content__text{
	padding-bottom:15px;
}

.b-content__hd-2{
	text-transform:none;
}

.b-content__vacancy .b-content__text-3{
	padding-bottom:10px;
}

.b-content-list{
	padding:18px 0 13px;
}

	.b-content-list__item{
		position:relative;
		padding-left:25px;
		font-size:15px;
		line-height:20px;
		margin-bottom:4px;
	}
	.b-content-list__item:before{
		content:'';
		background:#dd4343;
		height:3px;
		width:10px;
		position:absolute;
		top:12px;
		left:1px;
	}
	
.b-content__hd-5{
	text-align:left;
	text-transform:none;
	padding-bottom:38px;
}
	
	.b-content__hd-5 h3{
		text-align:left;
	}
	
.b-we-offer{
	padding:5px 0 54px;
	text-align:center;
}

	.b-we-offer__box{
		display:inline-block;
		vertical-align:top;
		width:24%;
	}
	.b-we-offer__box:nth-child(2){
		width:26.5%;
		position:relative;
		left:-7px;
	}
		
		.b-we-offer__icon{
			position:relative;
		}
		
		.b-we-offer__icon:before{
			content:'';
			background:#f8f8f8;
			position:absolute;
			bottom:-5px;
			left:50%;
			margin-left:-31px;
			border-radius:100px;
			width:62px;
			height:49px;
		}
		.b-we-offer__box:nth-child(3) .b-we-offer__icon:before{
			margin-left:-29px;
		}
		.b-we-offer__box:nth-child(4) .b-we-offer__icon:before{
			margin-left:-38px;
		}
		.b-we-offer__box:nth-child(5) .b-we-offer__icon:before{
			margin-left:-28px;
		}
		
		.b-we-offer__icon span,
		.b-special__icon span{
			background:url(../img/icons.png?ver1.2) no-repeat;
			height:63px;
			display:block;
			margin:0 auto;
			width:59px;
			position:relative;
		}
		
		.b-we-offer__icon span.b-we-offer__icon-1{
			background-position:0 -2148px;
			height:57px;
			width:50px;
		}
		.b-we-offer__icon span.b-we-offer__icon-2{
			background-position:0 -1288px;
			height:58px;
			width:59px;
			top:-2px;
			left:6px;
		}
		.b-we-offer__icon span.b-we-offer__icon-3{
			background-position:0 -2207px;
			height:59px;
			width:57px;
			top:-2px;
			left:-7px;
		}
		.b-we-offer__icon span.b-we-offer__icon-4{
			background-position:0 -2268px;
			height:57px;
			width:56px;
			left:5px;
			top:-5px;
		}
		
	.b-we-offer__text{
		font-size:15px;
		line-height:20px;
		padding:8px 0 0;
		display:block;
	}
	
	.b-today_text{
		padding:26px 0 61px;
	}
	
		.b-today_text span{
			font-size:15px;
			line-height:20px;
			display:block;
		}
		
		.b-today_text strong{
			font-size:22px;
			line-height:30px;
			color:#dd4343;
			display:block;
			padding-bottom:17px;
		}
		
.b-form-login{
	border:1px solid #cccccc;
	max-width:540px;
	margin:61px auto 40px;
	text-align:center;
}

	.b-form-box{
		padding:41px 0 47px;
		max-width:350px;
		margin:0 auto;
	}
		
		.b-form-login__hd{
			text-transform:uppercase;
			font-size:28px;
			line-height:34px;
			padding-bottom:16px;
			font-weight:normal;
			text-align:center;
		}
		
		.b-input-box{
			border-bottom:1px solid #949494;
			height:38px;
			margin-bottom:16px;
			padding:0 0 0 31px;
			position:relative;
		}
		.b-input-box_password{
			margin-bottom:4px;
		}
		.b-input-box_mail{
			margin-bottom:33px;
		}
		
		.b-form-register .b-input-box{
			margin-bottom:14px;
		}
		.b-form-register .b-input-box_login.b-input-box{
			margin-bottom:12px;
		}
		
		.b-input-box_search{
			padding-left:0px;
		}
		
			.b-error-message{
				position:absolute;
				bottom:-16px;
				right:0px;
				text-align:right;
				display:block;
				color:#dd4343;
				font-size:13px;
				line-height:14px;
			}
		
		.b-input-box_login:before,
		.b-input-box_password:before,
		.b-input-box_mail:before,
		.b-input-box_phone:before,
		.b-input-box_mail:before,
		.b-input-box_comment:before{
			content:'';
			background:url(../img/icons.png?ver1.2) no-repeat 0 -2541px;
			height:18px;
			width:14px;
			position:absolute;
			top:11px;
			left:1px;
		}
		.b-input-box_password:before{
			background-position:0 -2561px;
		}
		
		.b-input-box_mail:before{
			background-position: -36px -17px;
			height:14px;
			width:18px;
			top:14px;
		}
		
		.b-input-box_phone:before{
			background-position:-34px 0;
			height:16px;
			width:16px;
		}
		
		.b-input-box_comment:before{
			background-position:0 -6702px;
			height:16px;
			width:18px;
			top:13px;
		}
			
			.b-input,
			.b-textarea{
				border:0px;
				background:none;
				height:38px;
				width:100%;
				color:#999999;
				font:normal 15px 'Open Sans', Arial, Helvetica, sans-serif;
			}
			
			.b-input{
				padding-right:30px;
			}
			
			.b-input-box.has-error .b-input{
				color:#dd4343;
			}
			.b-input-box.has-error:after{
				content:'';
				background:url(../img/icons.png?ver1.2) no-repeat -18px -6909px;
				height:13px;
				width:13px;
				position:absolute;
				top:10px;
				right:3px;
			}
			
			.b-input:focus,
			.b-textarea:focus{
				color:#333;
			}
			.b-input-box.has-success:not(.not-required):after{
				content:'';
				background:url(../img/icons.png?ver1.2) no-repeat 0 -6909px;
				height:12px;
				width:16px;
				position:absolute;
				top:11px;
				right:5px;
			}
			
			.b-input::-webkit-input-placeholder, .b-textarea::-webkit-input-placeholder {color:#999999;}
			.b-input::-moz-placeholder, .b-textarea::-moz-placeholder {color:#999999;}
			.b-input:-moz-placeholder, .b-textarea:-moz-placeholder {color:#999999;}
			.b-input:-ms-input-placeholder, .b-textarea:-ms-input-placeholder {color:#999999;}
			.b-input:focus::-webkit-input-placeholder, .b-textarea:focus::-webkit-input-placeholder {color: transparent}
			.b-input:focus::-moz-placeholder .b-textarea:focus::-moz-placeholder {color: transparent}
			.b-input:focus:-moz-placeholder, .b-textarea:focus:-moz-placeholder {color: transparent}
			.b-input:focus:-ms-input-placeholder, .b-textarea:focus:-ms-input-placeholder {color: transparent}
			
			.b-input_mobile{
				display:none;
			}
			
			.b-form-register .b-input-box_comment{
				margin-bottom:4px;
			}
			
			.b-input-box_comment,
			.b-textarea{
				height:75px;
			}
			
			.b-textarea{
				padding-top:9px;
			}
			
		.b-link{
			color:#999999;
			font-size:13px;
			line-height:20px;
			display:inline-block;
			vertical-align:top;
			border-bottom:1px dashed #999999;
			font-weight:600;
		}
		.b-link:hover{
			color:#16438d;
			border-bottom-color:#16438d;
		}
		
		.b-link_forgot{
			text-align:right;
			padding-right:3px;
			margin-bottom:7px;
		}
		
		.b-button{
			background:#2958a7;
			border:0px;
			border-bottom:4px solid #16438d;
			width:100%;
			height:50px;
			cursor:pointer;
			color:#fff;
			font:normal 17px 'Open Sans', Arial, Helvetica, sans-serif;
			text-transform:uppercase;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;
		}
		.b-button:hover{
			background:#16438d;
		}
		
		.b-button_enter{
			margin:19px 0 22px;
		}
		
		.b-form-info{
			font-size:14px;
			line-height:18px;
		}
		
		.b-button-2{
			border:1px solid #999999;
			display:inline-block;
			vertical-align:top;
			padding:9px 21px 8px;
			color:#333333;
			font-size:12px;
			line-height:13px;
			font-weight:600;
			text-transform:uppercase;
		}
		.b-button-2:hover{
			color:#16438d;
		}
		
		.b-button-2_reg{
			margin-top:8px;
		}
		
.b-footer_hide{
	min-height:1px;
	background:none;
	padding:0px;
	height:1px;
}

.b-error-text{
	color:#dd4343;
	font-size:14px;
	line-height:17px;
	font-weight:600;
}

.b-modal{
	display:none;
	background:#fff;
	padding:16px 25px;
}

.b-modal_2{
	margin-top:34px;
}

	.b-close{
		position:absolute;
		top:7px;
		right:3px;
		display:block;
		width:36px;
		height:36px;
		cursor:pointer;
	}
	.b-close:before,
	.b-modal_2 .b-close:before{
		content:'';
		background: #18448f;
		height:2px;
		width:36px;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		position:absolute;
		top:14px;
		left:0px;
	}
	.b-close:after,
	.b-modal_2 .b-close:after{
		content:'';
		background: #18448f;
		height:2px;
		width:36px;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		position:absolute;
		top:14px;
		left:0px;
	}
	
	.b-modal_2 .b-close{
		top:-35px;
		right:-5px;
		height:30px;
		width:30px;
	}
	
	.b-modal_2 .b-close:before,
	.b-modal_2 .b-close:after{
		background:#fff;
		width:30px;
	}
	.b-modal_2 .b-close:hover:before,
	.b-modal_2 .b-close:hover:after{
		background:#16438d;
	}
	
.b-content__geography p{
	padding-bottom:19px;
}

.b-content__list{
	display:inline-block;
	vertical-align:top;
	padding-bottom:9px;
	position:relative;
	margin-right:-3px;
}

	.b-content__list-item{
		display:inline-block;
		vertical-align:top;
		padding:0 58px 0 36px;
		position:relative;
		font-size:15px;
		line-height:18px;
	}
	.b-content__list-item:before{
		content:'';
		background:url(../img/icons.png?ver1.2) no-repeat 0 -2581px;
		height:23px;
		width:25px;
		position:absolute;
		top:0px;
		left:0px;
	}
	
.b-geography{
	padding:18px 0 37px;
}

	.b-tabs_geography{
		padding-bottom:26px;
		display:table;
		width:100%;
	}
	
		.b-tabs_geography-item{
			float:left;
			width:25%;
		}
			
			.b-tabs_geography-item a{
				border:1px solid #dd4343;
				border-right:0px;
				padding:11px 10px 10px;
				text-align:center;
				display:block;
				-webkit-transition: all 0s;
				-moz-transition: all 0s;
				-o-transition: all 0s;
				transition: all 0s;
				
			}
			.b-tabs_geography-item:last-child a{
				border-right:1px solid #dd4343;
			}
				
				.b-tabs_geography-item a span{
					color:#333;
					font-size:18px;
					line-height:23px;
					display:inline-block;
					vertical-align:top;
					border-bottom:1px dashed transparent;
				}
			
			.current-tab a{
				background:#dd4343;
				cursor:default;
			}
			
			.b-tabs_geography-item a:hover{
				box-shadow: inset 0px 0px 0px 1px #dd4343;
			}
			
				.b-tabs_geography-item a:hover span{
					color:#999999;
					border-bottom-color:#999999;
				}
				
				.current-tab a span,
				.current-tab a:hover span{
					color:#fff;
					border-bottom-color:transparent;
				}
				
		.b-box{
			display:none;
		}
		.b-box.visible{
			display:block;
		}
		
			.b-box__hd{
				padding-bottom:16px;
				padding-top:4px;
			}
			
			.b-content__geography .b-box p{
				padding-bottom:15px;
			}
			
			.b-box p.b-content__quote{
				padding-top:18px;
				padding-bottom:22px;
			}
			
.b-content_general p{
	padding-bottom:15px;
}

.b-preferences-box{
	padding-bottom:25px;
}

	.b-preference{
		display:inline-block;
		vertical-align:top;
		width:30%;
		text-align:center;
	}
	.b-preference:nth-child(2){
		padding:0 0 0 55px;
		width:34%;
	}
	.b-preference:nth-child(3){
		padding:0 0 0 55px;
		width:34%;
	}
		
		.b-preference__icon{
			left:0px;
		}
			
			.b-preference__icon span{
				background:url(../img/icons.png?ver1.2) no-repeat;
				position:absolute;
				display:block;
			}
	
			.b-preference__icon span.b-preference__icon-1{
				background-position:0 -2606px;
				height:59px;
				width:49px;
				top:21px;
				left:24px;
			}
			.b-preference__icon span.b-preference__icon-2,
			.b-offer-2__icon span.b-offer-2__icon-4,
			.b-we-offer__icon span.b-mission__icon-5{
				background-position:0 -2667px;
				height:60px;
				width:59px;
				top:17px;
				left:18px;
			}
			.b-preference__icon span.b-preference__icon-3{
				background-position:0 -2729px;
				height:46px;
				width:59px;
				top:25px;
				left:19px;
			}
			
		.b-preference__text{
			display:block;
			font-size:15px;
			line-height:20px;
		}
		
.b-content_general{
	padding-bottom:54px;
}
	
	.b-content_general .b-content__hd{
		padding-top:9px;
		padding-bottom:21px;
	}
	
	.b-content__hd_2,
	.b-content_general .b-content__hd_2{
		text-align:left;
		padding-bottom:15px;
	}
	
	.b-content__list_2{
		padding-bottom:0px;
	}
	
		.b-content__list_2 .b-content__list-item{
			line-height:24px;
			padding-bottom:15px;
			padding-left:42px;
			padding-right:0px;
			display:block;
		}
		.b-content__list_2 .b-content__list-item:before{
			top:3px;
		}
		
.b-form{
	width:490px;
}
	
	.b-form .b-form-box{
		width:auto;
		max-width:380px;
		padding-top:32px;
		padding-bottom:37px;
	}
		
		.b-form .b-form-box .b-form-login__hd{
			white-space:nowrap;
			padding-bottom:37px;
		}
		
	.b-password-info{
		position:relative;
		font-size:18px;
		padding:69px 0 12px;
		line-height:26px;
		text-align:center;
	}
	.b-password-info:before{
		content:'';
		background:url(../img/icons.png?ver1.2) no-repeat 0 -2883px;
		height:63px;
		width:63px;
		position:absolute;
		top:-6px;
		left:50%;
		margin-left:-32px;
	}
	
	.b-password-info_2{
		padding-bottom:6px;
	}
	.b-password-info_2:before{
		background-position:0 -6632px;
		height:53px;
		width:63px;
		margin-left:-33px;
		top:3px;
	}
		
		.b-password-info_2 span{
			display:block;
			padding-bottom:27px;
		}
		
	#count_info_modal .b-form .b-form-box{
		max-width:430px;
	}
	
.b-content_3{
	margin-left:0px !important;
}
	
	.b-headline-4{
		border-bottom:1px solid #cccccc;
		padding-bottom:17px;
		display:table;
		width:100%;
	}
	
		.b-headline-4 h1{
			float:left;
		}
		
		.b-select_sort{
			float:right;
			margin:3px 0 0;
			width:159px;
		}
			
			.b-select_sort .customSelect .selectedValue{
				color:#999999;
				border-bottom:0px;
				padding-right:30px;
				margin-left:12px;
				font-size:14px;
			}
			
			.b-select_sort .customSelect .selectList dl{
				padding-bottom:14px;
			}
			
				.b-select_sort .customSelect dd.selected{
					display:none;
				}
				
				.b-select_sort .customSelect dd{
					font-size:14px;
					margin-left:12px;
					margin-right:12px;
				}
			
			.b-select_sort .customSelect .selectValueWrap .caret{
				border-top-color:#bcbec0;
			}
		
		.b-label-sort{
			float:right;
			padding:14px 3px 0 0;
			font-size:14px;
			line-height:15px;
		}
		
	.b-doc-list{
		position:relative;
		left:-38px;
		margin-right:-38px;
		padding:14px 0 94px;
	}
	
		.b-doc-list__item{
			border-bottom:1px solid #cccccc;
			position:relative;
			padding:12px 0 0;
			min-height:63px;
			margin-left:38px;
			clear:both;
		}
		.b-doc-list__item:hover{
			border-bottom-color:#838383;
			box-shadow: inset 0px -1px 0px 0px #838383;
		}
			
			.b-download-link{
				background:url(../img/icons.png?ver1.2) no-repeat 0 -3009px;
				height:20px;
				width:20px;
				position:absolute;
				top:27px;
				right:0px;
				-webkit-transition: all 0s;
				-moz-transition: all 0s;
				-o-transition: all 0s;
				transition: all 0s;
			}
			.b-download-link:hover{
				background-position:-22px -3009px;
			}
				
				.b-download-link span{
					display:none;
					position:absolute;
					bottom:-50px;
					left:6px;
					background:#e2e2e2;
					color:#333;
					font-size:14px;
					line-height:14px;
					padding:9px 11px 10px 13px;
					z-index:100;
				}
				.b-download-link:hover span{
					display:block;
				}
			
			.b-doc__link{
				color:#333;
				font-size:15px;
				line-height:45px;
				vertical-align:middle;
				display:inline-block;
				position:relative;
				padding-left:44px;
				padding-top:2px;
				margin-right:40px;
				margin-bottom:-5px;
			}
				
				.b-icon{
					background:url(../img/icons.png?ver1.2) no-repeat;
					position:absolute;
					top:8px;
					left:0px;
					display:block;
				}
				.b-icon_pdf{
					background-position:0 -2948px;
					height:30px;
					width:30px;
				}
				.b-icon_link{
					background-position:0 -2980px;
					height:27px;
					width:27px;
					left:1px;
					top:11px;
				}
				
				.b-doc__link > span:not(.b-icon){
					display:inline-block;
					line-height:20px;
				}
					
					.b-doc__link > span:not(.b-icon) > span{
						display:inline;
						border-bottom:1px dashed transparent;
					}
					.b-doc__link:hover > span:not(.b-icon) > span{
						color:#7c7c7c;
						border-bottom-color:#7c7c7c;
					}
					
	.b-sort-mobile{
		display:none;
	}
	
.b-content_train{
	padding-bottom:6px;
}
	
	.b-content p.b-content__text-4{
		padding-bottom:14px;
	}
	
	.b-content_train .b-content__quote{
		margin-bottom:24px;
	}
		
	.b-content_train .b-content__list_2{
		padding-bottom:9px;
	}

.b-content_4{
	padding-bottom:19px;
}
	
	.b-content_4 .b-content__img{
		margin-bottom:20px;
	}
	
	.b-content_4 h1{
		padding-bottom:15px;
	}
	
	.b-content_4 p{
		padding-bottom:15px;
	}
	
	.b-content_4 .b-content__quote{
		margin-bottom:42px;
	}
	
	.b-content_4 .b-content__list_2{
		padding-bottom:39px;
	}
	
.b-content_mission{
	padding-bottom:84px;
}

	.b-content_mission p{
		padding-bottom:17px;
	}
	
	.b-content_mission .b-content__quote{
		margin-bottom:21px;
		padding-bottom:22px;
		padding-top:16px;
	}
	
	.b-missions{
		padding:22px 0 0;
	}
	
		.b-mission{
			display:inline-block;
			vertical-align:top;
			width:19.5%;
			text-align:center;
			margin-bottom:32px;
		}
		.b-mission:nth-child(1){
			position:relative;
			left:-10px;
		}
		.b-mission:nth-child(3){
			padding-left:8px;
			width:21%;
		}
		.b-mission:nth-child(4){
			width:18%;
			padding-left:32px;
		}
		.b-mission:nth-child(5){
			padding-left:36px;
			width:20%;
		}
			
			.b-mission__icon{
				height:49px;
				width:62px;
				border-radius:200px;
				margin:0 auto;
			}
			
			.b-we-offer__icon span.b-mission__icon-1{
				background-position:0 -3284px;
				height:55px;
				width:54px;
				top:-10px;
				left:0px;
			}
			.b-we-offer__icon span.b-mission__icon-3{
				background-position:0 -3342px;
				height:55px;
				width:48px;
				top:-9px;
				left:0px;
			}
			.b-we-offer__icon span.b-mission__icon-4{
				background-position:0 -3399px;
				height:55px;
				width:46px;
				top:-9px;
				left:0px;
			}
			.b-we-offer__icon span.b-mission__icon-2{
				background-position:0 -3456px;
				height:46px;
				width:63px;
				top:-7px;
				left:0px;
			}
			.b-we-offer__icon span.b-mission__icon-5{
				background-position:0 -3504px;
				height:55px;
				width:54px;
				top:-9px;
				left:0px;
			}
			
		.b-mission .b-we-offer__text{
			padding-top:7px;
		}
		
.b-content_multymodal{
	padding-bottom:59px;
}
				
	.b-specials{
		padding:0 0 13px;
	}
	
		.b-special{
			display:table;
			width:100%;
			padding:0 0 4px;
		}
		.b-special:nth-child(2){
			padding-bottom:1px;
		}
		
			.b-special__icon{
				float:left;
			}
				
				.b-special__icon span.b-special__icon-1{
					background-position:0 -3803px;
					height:58px;
					width:59px;
					top:19px;
					left:20px;
					position:absolute;
				}
				.b-special__icon span.b-special__icon-2{
					background-position:0 -3863px;
					height:59px;
					width:59px;
					top:17px;
					left:20px;
					position:absolute;
				}
				.b-special__icon span.b-special__icon-3{
					background-position:0 -3924px;
					height:60px;
					width:49px;
					top:17px;
					left:21px;
					position:absolute;
				}
			
			.b-special__text{
				margin-left:120px;
				padding:9px 0 0;
				font-size:15px;
				line-height:24px;
			}
			
	.b-content_multymodal .b-content__hd_2{
		padding-top:21px;
	}
	
	.b-quote_red{
		color:#dd4343;
		display:block;
	}
	
	.b-content_multymodal .b-content__quote{
		margin-top:4px;
		margin-bottom:15px;
	}
	
.b-map-wrap{
	position:relative;
	height:550px;
	margin:0 auto;
	max-width:1300px;
}
	
	.b-map{
		height:550px;
		margin-bottom:63px;
		margin-top:19px;
	}
	
	.map_label{
		background:#fff;
		box-shadow:0px 5px 10px 0px rgba(0,0,0,0.15);
		display:inline-block;
		position:absolute;
	}
		
		.place_hd{
			display:block;
			font:bold 14px/16px 'Open Sans', Arial, Helvetica, sans-serif;
			padding:0 0 5px;
		}
		
		.place_address{
			display:block;
			font-style:normal;
			font:normal 14px/16px 'Open Sans', Arial, Helvetica, sans-serif;
		}
		
		.map_hd_2{
			color:#333;
			font-size:14px;
			line-height:16px;
			font-weight:bold;
			display:block;
			padding:3px 0 5px;
		}
		
		.map_address,
		.map_phones_label{
			font-style:normal;
			display:block;
			font-size:13px;
			line-height:16px;
			font-weight:600;
			color:#16438d;
		}
		
		.map_description,
		.map_phones{
			display:block;
			font-size:13px;
			line-height:16px;
			padding:0 0 5px;
		}
		
	.info-box-wrap{
		display:none;
	}
	
	.infobox{
		background:#fff;
		overflow: hidden;
		box-shadow:0px 5px 10px 0px rgba(0,0,0,0.15);
		width:314px !important;
		padding: 14px 12px 10px 19px !important;
		display:block;
	}
	
	#branches-map .infobox{
		width:290px !important;
		padding: 13px 10px 14px 21px !important;
	}
	
	#contacts-map .infobox{
		width:276px !important;
		padding-bottom:20px !important;
	}
	
	.infobox > img{
		position:absolute !important;
		top:10px !important;
		right:10px !important;
	}
	
	.gm-style-iw{
    content: '';
		background: #fff;
		width:276px !important;
    height: calc(100% + 28px);
		box-shadow:0px 5px 10px 0px rgba(0,0,0,0.15);
		position:relative;
		left:-5px !important;
		top:-2px !important;
		padding: 14px 12px 10px 19px !important;
		overflow-y:auto !important;
  }
	
	#map-stock .gm-style-iw{
		width:314px !important;
		padding:13px 12px 11px 17px !important;
		height:80px !important;
		top:0px !important;
		z-index:99999 !important;
		background:#fff !important;
		margin-bottom:-30px !important;
	}
	
	#branches-map .gm-style-iw{
		width:290px !important;
	}
		
		#map-stock .gm-style-iw div{
			overflow:visible !important;
			max-width:inherit !important;
		}
		
		.map_hd{
			color:#16438d;
			font-size:13px;
			line-height:15px;
			font-weight:500;
			display:block;
			padding:0 20px 11px 0;
			max-width:220px;
		}
		
		.map_phone{
			color:#333;
			display:block;
			font-size:13px;
			line-height:16px;
		}
		
		.map_mail{
			color:#16438d;
			display:inline-block;
			vertical-align:top;
			border-bottom:1px dashed #16438d;
			font-size:13px;
			line-height:19px;
			margin-bottom:12px;
			position:relative;
			top:-2px;
		}
		.map_mail:hover{
			border-bottom-color:transparent;
		}
		
		.map_work-time{
			color:#333;
			font-size:13px;
			line-height:16px;
		}
			
			.map_work-time span{
				display:inline-block;
				vertical-align:top;
				width:43px;
				text-align:right;
				white-space:nowrap;
			}
			
		.map_work-time-sunday{
			color:#dd4343;
			width:100%;
		}
		
		.label_close{
			background:url(../img/icons.png?ver1.2) no-repeat 0 -4101px;
			height:8px;
			width:8px;
			position:absolute;
			top:7px;
			right:9px;
		}
		
		.b-map__contacts{
			background:rgba(255,255,255,0.75);
			position:absolute;
			top:0px;
			right:0px;
			width:423px;
			height:550px;
			z-index:100;
		}
		
	.b-contacts{
		padding:5px 23px 23px;
	}
		
		.b-contacts__item{
			border-bottom:1px solid #999999;
			position:relative;
		}
		.contacts_open{
			border-bottom:2px solid #dd4343;
		}
			
			.b-contacts__hd{
				display:table;
				width:100%;
				cursor:pointer;
				padding:19px 15px 7px 0;
				position:relative;
			}
			.b-contacts__item:after{
				content:'';
				background:url(../img/icons.png?ver1.2) no-repeat 0 -4111px;
				height:13px;
				width:13px;
				position:absolute;
				bottom:17px;
				right:-1px;
				cursor:pointer;
			}
			.contacts_open:after{
				background-position:-15px -4111px;
				bottom:13px;
			}
				
				.b-current-time{
					position:absolute;
					top:10px;
					right:-5px;
					text-align:center;
					width:76px;
					display:none;
				}
				.contacts_open .b-current-time{
					display:block;
				}
					
					.b-current-time > span{
						display:block;
						font-size:9px;
						line-height:10px;
					}
					
					.b-current-time strong{
						display:block;
						font-size:16px;
						line-height:16px;
					}
						
						.b-current-time strong span{
							color:#999999;
						}
				
				.b-contacts__flag{
					float:left;
					width:21px;
					margin:2px 11px 0 1px;
					display:block;
				}
				
				.b-contacts__place{
					font-size:16px;
					line-height:20px;
					font-weight:bold;
					border-bottom:1px dashed #333;
					vertical-align:top;
				}
				.b-contacts__item:hover .b-contacts__hd .b-contacts__place{
					color:#999999;
					border-bottom-color:#999999;
				}
				.contacts_open .b-contacts__place{
					color:#dd4343;
					border-bottom-color:#dd4343;
				}
				
			.b-contacts__content{
				padding:1px 0 20px 32px;
				display:none;
			}
				
				.b-contacts__address{
					font-style:normal;
					display:block;
					position:relative;
					padding:0 0 0 31px;
					font-size:16px;
					line-height:18px;
					margin-bottom:12px;
				}
				.b-contacts__address:before{
					content:'';
					background:url(../img/icons.png?ver1.2) no-repeat 0 -4126px;
					height:14px;
					width:12px;
					position:absolute;
					top:3px;
					left:2px;
				}
				
				.b-contacts__phones{
					font-size:16px;
					line-height:22px;
					display:block;
					padding:0 0 0 32px;
					position:relative;
					margin-bottom:11px;
				}
				.b-contacts__phones:before{
					content:'';
					background:url(../img/icons.png?ver1.2) no-repeat 0 0;
					height:15px;
					width:15px;
					position:absolute;
					top:5px;
					left:1px;
				}
					
					.b-contacts__phones a{
						display:block;
						color:#333;
					}
					.b-contacts__phones a:hover{
						color:#16438d;
					}
				
				.b-contacts__mail{
					display:inline-block;
					vertical-align:top;
					margin-left:32px;
					margin-bottom:14px;
					position:relative;
					color:#16438d;
					font-size:16px;
					line-height:21px;
					border-bottom:1px dashed #16438d;
				}
				.b-contacts__mail:before{
					content:'';
					background:url(../img/icons.png?ver1.2) no-repeat 0 -4142px;
					height:10px;
					width:14px;
					position:absolute;
					top:7px;
					left:-31px;
				}
				.b-contacts__mail:hover{
					border-bottom-color:transparent;
				}
				
				.b-contacts__time{
					position:relative;
					font-size:16px;
					line-height:20px;
					padding:0 0 0 32px;
				}
				.b-contacts__time:before{
					content:'';
					background:url(../img/icons.png?ver1.2) no-repeat 0 -4154px;
					height:12px;
					width:12px;
					position:absolute;
					top:5px;
					left:2px;
				}
					
					.b-contacts__time span{
						width:54px;
						display:inline-block;
						white-space:normal;
						text-align:right;
					}
					
					.b-time__sunday{
						color:#dd4343;
					}
	
.b-search{
	padding:33px 0 0;
}
	
	.b-search__input-box{
		background:#f8f8f8;
		height:50px;
		padding:0 55px 0 0;
		position:relative;
		margin-bottom:13px;
	}
		
		.b-search__input-2{
			border:0px;
			background:none;
			width:100%;
			height:50px;
			color:#333;
			font:normal 15px 'Open Sans', Arial, Helvetica, sans-serif;
			padding:0 18px;
		}
		
		.b-search__button{
			border:0px;
			background:url(../img/icons.png?ver1.2) no-repeat 0 -4168px;
			height:20px;
			width:20px;
			position:absolute;
			top:15px;
			right:20px;
			cursor:pointer;
		}
		
.b-search__info,
.b-search__info-2{
	color:#999999;
	font-size:13px;
	line-height:15px;
	padding-bottom:33px;
	display:block;
}

.b-search__info-results{
	color:#333;
	font-size:15px;
	line-height:17px;
	display:block;
}

.b-search__results{
	border-bottom:1px solid #cccccc;
	padding:2px 0 0;
}

	.b-results__item{
		border-top:1px solid #cccccc;
		padding:20px 0 27px;
	}
	
		.b-results__hd{
			color:#16438d;
			font-size:15px;
			line-height:20px;
			display:inline;
			vertical-align:top;
			border-bottom:1px dashed #16438d;
		}
		.b-results__hd:hover{
			color:#999999;
			border-bottom-color:#999999;
		}
		
		.b-results__hd_pdf,
		.b-results__hd_link{
			position:relative;
			margin-left:42px;
		}
		.b-results__hd_pdf:before,
		.b-results__hd_link:before{
			content:'';
			background:url(../img/icons.png?ver1.2) no-repeat 0 -2948px;
			height:30px;
			width:30px;
			position:absolute;
			top:-3px;
			left:-43px;
		}
		.b-results__hd_link:before{
			background-position:0 -2980px;
			height:27px;
			width:27px;
			top:-2px;
		}
			
			.b-results__hd strong{
				display:inline-block;
				vertical-align:top;
			}
		
		.b-content p.b-results__text{
			padding:11px 0 14px;
			font-size:15px;
			line-height:22px;
		}
			
			.b-content p.b-results__text span{
				display:inline-block;
				vertical-align:top;
			}
		
		.b-results__date,
		.b-articles__date{
			color:#999999;
			font-size:13px;
			line-height:15px;
			display:block;
			position:relative;
			padding:0 0 3px 28px;
		}
		.b-results__date:before,
		.b-articles__date:before{
			content:'';
			background:url(../img/icons.png?ver1.2) no-repeat 0 -4190px;
			height:15px;
			width:15px;
			position:absolute;
			top:0px;
			left:0px;
		}
		
		.b-results__path,
		.b-results__path a,
		.b-results__path_mobile,
		.b-results__path_mobile a{
			color:#999999;
			font-size:13px;
			line-height:20px;
		}
			
			.b-results__path span,
			.b-results__path_mobile span{
				margin-right:3px;
			}
			
			.b-results__path a,
			.b-results__path_mobile a{
				border-bottom:1px dashed #999999;
				display:inline;
				vertical-align:top;
			}
			
		.b-results__path a:hover,
		.b-results__path_mobile a:hover{
			color:#333;
			border-bottom-color:#333;
		}
		
.b-pagination{
	padding:32px 0 31px;
}

	.b-pagination__link,
	.b-pagination span{
		color:#999;
		font-size:13px;
		line-height:14px;
		display:inline-block;
		vertical-align:top;
	}
	
	.b-pagination__link{
		margin:0 3px;
		min-width:10px;
	}
	
	.b-pagination__link:first-child{
		margin-left:0px;
	}
		
	.b-pagination__link:hover,
	.b-link-active{
		color:#dd4343;
	}
	.b-link-active{
		cursor:default;
	}
	
.b-results__path_mobile,
.b-search__info_mobile{
	display:none;
}

.checkbox:not(checked) + label{
	color:#333;
	font-size:13px;
	line-height:15px;
	display:block;
	padding:6px 0 0 33px;
	position:relative;
	margin-bottom:10px;
	cursor:pointer;
}
	
	.checkbox:not(checked) + label a{
		color:#16438d;
		font-size:13px;
		line-height:15px;
		display:inline;
		vertical-align:top;
		border-bottom:1px dashed #16438d;
	}
	.checkbox:not(checked) + label a:hover{
		border-bottom-color:transparent;
	}
	
	.checkbox:not(checked){
		position: absolute;
		opacity: 0;
	}
	
	.checkbox:not(checked) + label:before{
		content:'';
		border:1px solid #999999;
		height:20px;
		width:20px;
		position:absolute;
		top:4px;
		left:0px;
		box-sizing:border-box;
	}
	.checkbox:checked + label:after{
		content:'';
		background:url(../img/icons.png?ver1.2) no-repeat 0 -4255px;
		height:9px;
		width:13px;
		position:absolute;
		top:9px;
		left:4px;
	}
	.has-error .checkbox:not(checked) + label:before{
		background:none;
		border:1px solid #e60020;
	}
	
.checkbox.has-error:not(checked) + label:before{
	border-color:#dd4343;
}
	
.b-form-info-2{
	color:#999999;
	font-size:12px;
	line-height:14px;
	display:block;
	padding:9px 0 0;
}

.b-content_certification{
	padding-bottom:55px;
}

	.b-content_certification p{
		padding-bottom:15px;
	}
	
	.b-certifications{
		text-align:center;
		padding:5px 0 11px;
	}
	
		.b-certification{
			display:inline-block;
			vertical-align:top;
			width:17.5%;
			margin-bottom:21px;
		}
		.b-certification:first-child{
			width:22%;
			position:relative;
			left:-5px;
		}
		.b-certification:nth-child(5){
			width:23%;
		}
		.b-certification:nth-child(2){
			padding-left:6px;
		}
		.b-certification:nth-child(3){
			padding-left:6px;
		}
		.b-certification:nth-child(4){
			padding-left:22px;
		}
		.b-certification:nth-child(5){
			padding-left:8px;
		}
		.b-certification:nth-child(6){
			position:relative;
			left:-5px;
		}
		.b-certification:nth-child(8){
			padding-left:16px;
		}
		.b-certification:nth-child(9){
			padding-left:34px;
		}
			
			.b-certification .b-preference__text{
				line-height:24px;
			}
			
			.b-certification .b-preference__icon{
				margin-bottom:10px;
			}
		
			.b-preference__icon span.b-certification__icon-1{
				background-position:0 -4266px;
				height:60px;
				width:59px;
				top:21px;
				left:17px;
			}
			.b-preference__icon span.b-certification__icon-2{
				background-position:0 -4328px;
				height:60px;
				width:39px;
				top:20px;
				left:30px;
			}
			.b-preference__icon span.b-certification__icon-3{
				background-position:0 -4390px;
				height:49px;
				width:64px;
				top:27px;
				left:13px;
			}
			.b-preference__icon span.b-certification__icon-4,
			.b-preference__icon span.b-goods__icon-4{
				background-position:0 -4441px;
				height:60px;
				width:35px;
				top:20px;
				left:31px;
			}
			.b-preference__icon span.b-certification__icon-5,
			.b-preference__icon span.b-goods__icon-1{
				background-position:0 -4503px;
				height:54px;
				width:59px;
				top:24px;
				left:18px;
			}
			.b-preference__icon span.b-certification__icon-6{
				background-position:0 -4559px;
				height:47px;
				width:62px;
				top:29px;
				left:20px;
			}
			.b-preference__icon span.b-certification__icon-7{
				background-position:0 -4608px;
				height:54px;
				width:61px;
				top:24px;
				left:18px;
			}
			.b-preference__icon span.b-certification__icon-8{
				background-position:0 -4664px;
				height:58px;
				width:51px;
				top:22px;
				left:23px;
			}
			.b-preference__icon span.b-certification__icon-9{
				background-position:0 -4724px;
				height:58px;
				width:59px;
				top:20px;
				left:22px;
			}
			
		.b-content_certification .b-content__hd_2{
			padding-top:11px;
		}
		
		.b-content_certification .b-content__hd_3{
			padding-top:0px;
		}
		
		.b-content p.b-content__text-5{
			padding-top:24px;
		}
		
		.b-content_certification .b-content__quote{
			padding-top:18px;
			padding-bottom:22px;
		}
		
.b-list-info{
	padding:29px 0 28px;
}

	.b-info{
		padding:16px 28px 18px;
		margin-bottom:17px;
		border:1px solid #cccccc;
	}
	.b-info:hover{
		border-color:#f8f8f8;
		background:#f8f8f8;
	}
		
		.b-info__hd-box{
			display:table;
			width:100%;
			cursor:pointer;
			position:relative;
		}
			
			.b-info__hd{
				font-size:18px;
				line-height:24px;
				font-weight:bold;
				color:#333;
				float:left;
				margin-left:43px;
				padding-right:120px;
				position:relative;
			}
			.b-info__hd:before{
				content:'';
				background:url(../img/icons.png?ver1.2) no-repeat 0 -2581px;
				height:23px;
				width:25px;
				position:absolute;
				top:2px;
				left:-43px;
			}
				
			.b-info__hd span{
				display:inline;
				border-bottom:1px dashed #707070;
			}
				
				.b-info__hd:hover span{
					color:#dd4343;
					border-bottom-color:transparent;
				}
			
		.b-info__details{
			float:right;
			color:#dd4343;
			cursor:pointer;
			font-size:14px;
			line-height:20px;
			font-weight:600;
			position:absolute;
			top:5px;
			right:23px;
			text-transform:uppercase;
			border-bottom:1px dashed transparent;
		}
		.b-info__details:after{
			content:'';
			background:url(../img/icons.png?ver1.2) no-repeat -30px -4111px;
			height:15px;
			width:15px;
			position:absolute;
			top:3px;
			right:-25px;
		}
		.b-info__details:hover{
			color:#999999;
			border-bottom-color:#999999;
		}
		.b-info__details:hover:after{
			background-position:-47px -4111px;
		}
		
		.b-info__text{
			padding:23px 5px 0 42px;
			display:none;
			position:relative;
		}
		
		.b-info__open{
			box-shadow:  0px 5px 15px 0px rgba(0,0,0,0.1);
			border-color:transparent;
		}
		
		.b-info__open .b-info__details:after{
			background-position:-64px -4111px;
		}
		.b-info__open .b-info__details:hover:after{
			background-position:-81px -4111px;
		}
			
			.b-info__open .b-info__text p{
				font-size:15px;
				line-height:24px;
				padding-bottom:25px;
			}
			
		.b-info__close-mobile{
			display:none;
		}
		
.tabs-content_goods{
	position:relative;
}

.b-tabs-wrap{
	width:100%;
	z-index:200;
	background:url(../img/tabs_shadow.png?ver1.2) no-repeat top center;
	height:81px;
	padding:13px 0 0;
	position:relative;
	top:-36px;
	margin-bottom:6px;
}
		
.b-tabs__goods{
	margin:0 25px 0 34px;
}
	
	.b-goods__item{
		float:left;
		width:33%;
	}
		
		.b-goods__link{
			display:block;
			height:60px;
			background:#fff;
			padding:21px 0 0;
			text-align:center;
			position:relative;
		}
		.b-goods__link:after{
			content:'';
			background:#e5e5e5;
			height:60px;
			width:1px;
			position:absolute;
			top:0px;
			right:0px;
		}
		.b-goods__item:hover .b-goods__link{
			background:#dd4343;
		}
		
		.b-goods__item:first-child .b-goods__link{
			border-radius:10px 0 0 10px;
		}
		.b-goods__item:last-child .b-goods__link{
			border-radius:0 10px 10px 0;
		}
		.current-tab .b-goods__link:after,
		.b-goods__item:last-child .b-goods__link:after{
			background:none;
		}
			
			.b-goods__link span{
				color:#333;
				font-size:19px;
				line-height:19px;
				position:relative;
				display:inline-block;
				vertical-align:top;
				font-weight:300;
				left:22px;
			}
			.b-goods__item:hover .b-goods__link span{
				color:#fff;
			}
			.b-goods__item:hover .b-goods__link:after{
				background:none;
			}
			
			.b-goods__link span:before{
				content:'';
				background:url(../img/icons.png?ver1.2) no-repeat;
				position:absolute;
				top:1px;
				left:-58px;
			}
			.b-goods__link_auto span:before{
				background-position:0 -5128px;
				height:19px;
				width:33px;
			}
			.current-tab .b-goods__link_auto span:before,
			.b-goods__item:hover .b-goods__link_auto span:before{
				background-position:-35px -5128px;
			}
			
			.b-goods__link_air span:before{
				background-position:0 -5149px;
				height:18px;
				width:32px;
				left:-50px;
				top:2px;
			}
			.current-tab .b-goods__link_air span:before,
			.b-goods__item:hover .b-goods__link_air span:before{
				background-position:-34px -5149px;
			}
			
			.b-goods__link_sea span:before{
				background-position:0 -5169px;
				height:21px;
				width:27px;
				top:-1px;
				left:-51px;
			}
			.current-tab .b-goods__link_sea span:before,
			.b-goods__item:hover .b-goods__link_sea span:before{
				background-position:-29px -5169px;
			}
		
.b-goods__cargoes{
	background:url(../img/cargoes_img.jpg) no-repeat top right;
	height:420px;
	position:relative;
	margin-top:7px;
}

.b-goods__airgoes{
	background:url(../img/air_img.jpg) no-repeat top right;
}

.b-goods__seagoes{
	background:url(../img/sea_img.jpg) no-repeat top right;
}

	.b-goods__headline{
		font-size:38px;
		line-height:40px;
		padding:62px 0 40px 32px;
		font-weight:bold;
	}
	
	.b-goods__delivery,
	.b-goods__cars,
	.b-goods__price{
		background:#16438d;
		color:#fff;
		font-size:22px;
		line-height:22px;
		display:inline-block;
		vertical-align:top;
		padding:6px 33px 12px 34px;
		font-weight:600;
		margin:0 0 5px;
	}
	.b-goods__cars{
		background:#dd4343;
	}
		
		.b-goods__cars br{
			display:none;
		}
	
	.b-note{
		font-size:14px;
		line-height:16px;
		position:absolute;
		bottom:38px;
		left:32px;
		display:block;
	}
	
	.b-description-cards{
		display:table;
		width:100%;
	}
		
		.description-cards-slider{
			position:relative;
			left:-6.6%;
			margin-right:-6.6%;
			width:106.6%;
		}
		.description-cards-slider .slick-list{
			overflow:visible;
		}
		
		.b-description-card{
			display:inline-block;
			vertical-align:top;
			margin-left:6.6%;
			background:#fff;
			box-shadow:  0px 5px 15px 0px rgba(0,0,0,0.15);
			border-radius:10px;
			margin-bottom:39px;
		}
		
			.b-card__headline{
				height:140px;
				overflow:hidden;
				text-align:right;
				min-height:140px;
				position:relative;
				border-radius:10px 10px 0 0;
			}
			.b-card__headline_1{
				background:url(../img/cargoes_pic1.png?ver1.2) no-repeat top center;
				background-size:cover;
			}
			.b-card__headline_2{
				background:url(../img/cargoes_pic2.png?ver1.2) no-repeat top center;
				background-size:cover;
			}
			.b-card__headline_3{
				background:url(../img/cargoes_pic3.png?ver1.2) no-repeat top center;
				background-size:cover;
			}
			
			.b-card__headline_1:before,
			.b-card__headline_2:before,
			.b-card__headline_3:before{
				content:'';
				background:url(../img/icons.png?ver1.2) no-repeat 0 -5192px;
				height:37px;
				width:45px;
				position:absolute;
				top:16px;
				left:19px;
			}
			.b-card__headline_2:before{
				background-position:0 -5231px;
				height:40px;
				width:40px;
				top:13px;
			}
			.b-card__headline_3:before{
				background-position:0 -5273px;
				height:40px;
				width:25px;
				top:13px;
			}
				
				.b-card__price{
					color:#fff;
					font-size:22px;
					line-height:40px;
					vertical-align:bottom;
					padding:75px 10px 0 0;
					display:block;
				}
					
					.b-card__price strong{
						font:bold 44px/40px CarlitoBold, Arial, Helvetica, sans-serif;
					}
						
						.b-card__price strong span{
							font-size:28px;
							vertical-align:top;
							position:relative;
							top:-4px;
						}
					
				.b-card__note{
					color:#fff;
					font-size:12px;
					line-height:13px;
					display:block;
					position:relative;
					top:-2px;
					padding:0 21px 0 0;
				}
				
		.b-description__list{
			padding:31px 10px 23px 59px;
			min-height:190px;
		}
		.b-description-card:nth-child(2) .b-description__list{
			padding-left:57px;
			padding-bottom:17px;
		}
		.b-description-card:nth-child(3) .b-description__list{
			padding-left:52px;
		}
			
			.b-description__item{
				display:block;
				position:relative;
				padding:0 0 17px 40px;
				font-size:15px;
				line-height:17px;
			}
			.b-description__item:before{
				content:'';
				background:url(../img/icons.png?ver1.2) no-repeat;
				position:absolute;
				top:0px;
				left:0px;
			}
			.b-description__item_1:before{
				background-position:0 -5315px;
				height:22px;
				width:31px;
				top:-3px;
				left:-1px;
			}
			.b-description__item_2:before{
				background-position:0 -5339px;
				height:13px;
				width:27px;
				top:2px;
			}
			.b-description__item_3:before{
				background-position:0 -5354px;
				height:26px;
				width:20px;
				top:-6px;
				left:4px;
			}
			.b-description__item_4:before{
				background-position:0 -5382px;
				height:22px;
				width:24px;
				top:-2px;
				left:2px;
			}
			.b-description__item_5:before{
				background-position:0 -5406px;
				height:23px;
				width:23px;
				top:-3px;
				left:1px;
			}
			.b-description__item_6:before{
				background-position:0 -5431px;
				height:23px;
				width:21px;
				top:-3px;
				left:2px;
			}
			.b-description__item_7:before{
				background-position:0 -5456px;
				height:18px;
				width:27px;
				top:1px;
				left:2px;
			}
			.b-description__item_8:before{
				background-position:0 -5476px;
				height:19px;
				width:22px;
				top:-3px;
				left:1px;
			}
			.b-description__item_9:before{
				background-position:0 -5505px;
				height:23px;
				width:15px;
				top:-1px;
				left:5px;
			}
			.b-description__item_10:before{
				background-position:0 -5530px;
				height:23px;
				width:23px;
				top:-2px;
				left:1px;
			}
			.b-description__item_11:before{
				background-position:0 -5555px;
				height:23px;
				width:15px;
				top:-2px;
				left:5px;
			}
			.b-description__item_12:before{
				background-position:0 -5580px;
				height:30px;
				width:18px;
				top:3px;
				left:4px;
			}
		
.b-examples{
	border:1px solid #bcbec0;
	border-radius:10px;
	text-align:center;
	margin-bottom:32px;
}

.b-examples__hd{
	cursor:pointer;
	position:relative;
	padding:13px;
}
.b-examples__hd:before,
.b-examples__hd:after{
	content:'';
	background:url(../img/icons.png?ver1.2) no-repeat -47px -4111px;
	height:15px;
	width:15px;
	position:absolute;
	top:21px;
	left:33px;
}
.b-examples__hd:after{
	left:auto;
	right:33px;
}
.example_open:before,
.example_open:after{
	background-position:-81px -4111px;
}
	
	.b-examples__hd > span{
		color:#999999;
		font-size:19px;
		line-height:24px;
		border-bottom:1px dashed #999999;
		display:inline-block;
		vertical-align:top;
		font-weight:bold;
	}
	.b-examples__hd:hover > span{
		border-bottom-color:transparent;
	}
	
	.b-examples__content{
		padding:15px 0 24px;
		text-align:center;
		display:none;
		max-height:294px;
		overflow:hidden;
	}
	
	.b-examples-slider{
		margin:0 19px 13px;
	}
		
		.b-example{
			display:inline-block;
			vertical-align:top;
			width:161px;
			margin:0 12px;
			background:#f8f8f8;
			border-radius:10px;
			padding:14px 13px 12px 22px;
			text-align:left;
		}
			
			.b-example__hd{
				color:#16438d;
				font-size:13px;
				line-height:15px;
				text-transform:uppercase;
				font-weight:600;
				display:block;
				padding:0 0 9px;
			}
			
			.b-examples__path{
				font-size:13px;
				line-height:15px;
				margin-bottom:2px;
			}
				
				.b-examples__path span{
					background:url(../img/icons.png?ver1.2) no-repeat 0 -5674px;
					height:12px;
					width:12px;
					display:inline-block;
					vertical-align:top;
					margin:0 3px;
					position:relative;
					top:2px;
				}
		
			.b-examples__info{
				border-bottom:2px dotted #999;
				font-size:13px;
				line-height:15px;
				display:table;
				width:100%;
				margin-bottom:1px;
			}
				
				.b-examples__info span{
					color:#999;
					background:#f8f8f8;
					display:inline-block;
					vertical-align:top;
					position:relative;
					top:5px;
					padding:0 3px 0 0;
				}
				
				.b-examples__info b{
					color:#333;
					background:#f8f8f8;
					text-align:right;
					font-weight:normal;
					position:relative;
					top:5px;
					padding:0 5px 0 3px;
					float:right;
				}
				
			.b-examples__rate{
				display:block;
				vertical-align:bottom;
				font-size:13px;
				line-height:20px;
				padding:12px 0 0;
			}
				
				.b-examples__rate strong{
					color:#dd4343;
					font-size:20px;
					line-height:20px;
					margin-left:2px;
				}
				
.b-content_goods{
	padding-bottom:67px;
}
		
	.b-content.b-content_goods p{
		padding-bottom:15px;
	}
	
	.b-content_goods .b-content__hd{
		padding-top:9px;
	}
	
	.b-goods-box{
		padding:0 0 39px;
	}
	
		.b-goods{
			display:inline-block;
			vertical-align:top;
			width:24%;
			text-align:center;
		}
		.b-goods:nth-child(1){
			padding-left:60px;
			width:25%;
		}
		.b-goods:nth-child(2){
			padding-left:15px;
			width:23.5%;
		}
		.b-goods:nth-child(3){
			width:22.5%;
			padding-left:5px;
		}
			
			.b-preference__icon span.b-goods__icon-2{
				background-position:0 -5612px;
				height:60px;
				width:47px;
				top:21px;
				left:23px;
			}
			.b-preference__icon span.b-goods__icon-3{
				background-position:0 -5688px;
				height:55px;
				width:56px;
				top:22px;
				left:19px;
			}
			
	.b-content.b-content_goods p.b-content__quote{
		padding-bottom:22px;
	}
		
.b-articles{
	padding:8px 0;
}
		
	.b-articles__item{
		position:relative;
		display:table;
		width:100%;
		padding:28px 30px;
		margin-bottom:40px;
		border:1px solid #cccccc;
	}
		
		.b-content .b-articles__item p{
			padding-bottom:23px;
		}
			
		.b-articles__date{
			float:left;
		}
		
		.b-articles__item .b-info__details{
			top:auto;
			font-size:13px;
			margin-right:37px;
			margin-top:-3px;
		}
		.article-open .b-info__details:after{
			background-position:-64px -4111px;
		}
		.article-open .b-info__details:hover:after{
			background-position:-81px -4111px;
		}
		
		.article-open{
			box-shadow:  0px 5px 15px 0px rgba(0,0,0,0.15);
			border-color:transparent;
		}
		
		.b-headline-5{
			border-bottom:0px;
			margin-bottom:15px;
		}
		.b-headline-5:after{
			background:none !important;
		}
			
			.b-headline-5 h2{
				font-size:22px;
				line-height:30px;
				font-weight:bold;
				padding-bottom:10px;
			}
			
			.b-headline-5 h2:after{
				height:3px;
				width:70px;
			}
					
		.hidden-text{
			display:none;
			padding-top:2px;
		}
			
			.b-content .b-articles__item .hidden-text p{
				padding-bottom:25px;
			}
			
.b-pagination-2{
	border-bottom:1px solid #cccccc;
	text-align:center;
	display:table;
	width:100%;
	margin-bottom:38px;
}

	.b-page__link{
		color:#999999;
		font-size:18px;
		line-height:22px;
		display:inline-block;
		vertical-align:bottom;
		padding:0 7px 8px;
		margin:0 3px;
	}
	.b-page__link:hover{
		color:#dd4343;
	}
	.b-page__link_active{
		color:#dd4343;
		position:relative;
	}
	.b-page__link_active:after,
	.b-pagination-2_prev:hover:after,
	.b-pagination-2_next:hover:after{
		content:'';
		background:#dd4343;
		height:3px;
		width:100%;
		position:absolute;
		bottom:-1px;
		left:0px;
	}
	.b-pagination-2_prev:hover,
	.b-pagination-2_next:hover{
		color:#dd4343;
	}
	
	.b-pagination-2_prev,
	.b-pagination-2_next{
		text-align:left;
		color:#999999;
		font-size:15px;
		line-height:22px;
		position:relative;
		float:left;
		padding:1px 0 7px;
	}
	
	.b-pagination-2_next{
		text-align:right;
		float:right;
	}
	
	.b-pagination-2_prev{
		margin-right:-14px;
	}
	
.b-mobile{
	display:none;
}

.b-tabs_stock{
	margin:4px 0 27px;
	display:table;
	width:100%;
}
	
	.b-stock-tabs__item{
		float:left;
		width:50%;
	}
		
		.b-stock__link{
			border:1px solid #dd4343;
			display:block;
			height:47px;
			text-align:center;
			padding:11px 0 0;
		}
		.b-stock__link:hover{
			box-shadow: inset 0px 0px 0px 1px #dd4343;
		}
			
			.b-stock__link span{
				color:#333;
				border-bottom:1px dashed transparent;
				font-size:18px;
				line-height:23px;
				display:inline-block;
				vertical-align:top;
			}
			.b-stock__link:hover span{
				color:#999999;
				border-bottom-color:#999999;
			}

.tabs-content_stock{
	position:relative;
}

.b-map_2{
	height:488px;
	margin-bottom:4px;
	position:absolute;
	top:74px;
	left:0px;
	width:100%;
}

.b-stock-list{
	padding:492px 0 11px;
}

	.b-stock__item{
		border-bottom:1px solid #cccccc;
		padding:20px 0 30px;
	}
	.b-stock__item:last-child{
		border-bottom:0px;
	}
	
	.b-stick__headline{
		font-size:22px;
		line-height:28px;
		font-weight:bold;
		padding-bottom:18px;
		text-transform:none;
	}
	
	.b-stock__address{
		font-style:normal;
		display:block;
		font-size:15px;
		line-height:20px;
	}
	
.b-preference__icon span.b-goods__icon-5{
	background-position:0 -5856px;
	height:58px;
	width:57px;
	top:23px;
	left:18px;
}

.b-preference__icon span.b-goods__icon-6{
	background-position:0 -5916px;
	height:60px;
	width:59px;
	top:20px;
	left:19px;
}

.b-goods.b-goods_2{
	width:19%;
}

.b-goods.b-goods_2:first-child{
	padding-left:67px;
}
.b-goods.b-goods_2:nth-child(2){
	padding-left:46px;
}
.b-goods.b-goods_2:nth-child(3){
	padding-left:35px;
}
.b-goods.b-goods_2:nth-child(4){
	padding-left:20px;
}
.b-goods.b-goods_2:nth-child(5){
	padding-right:8px;
}

.b-content__hd.b-content__hd-6{
	padding-top:15px;
}

.b-box_2{
	display:none;
}

.b-box_2.visible{
	display:block;
}

.b-goods-box_3{
	position:relative;
	margin-bottom:-3px;
}

	.b-goods.b-goods_3{
		display:inline-block;
		vertical-align:top;
		width:49%;
		text-align:left;
		padding-left:0px !important;
		padding-top:2px;
		margin-bottom:17px;
	}
		
		.b-goods_3 .b-preference__icon{
			float:left;
			margin-left:18px;
		}
		.b-goods.b-goods_3:nth-child(2) .b-preference__icon,
		.b-goods.b-goods_3:nth-child(4) .b-preference__icon{
			margin-left:41px;
		}
		
		.b-goods_3 .b-preference__text{
			margin-left:136px;
			padding-top:10px;
			line-height:22px;
		}
		.b-goods.b-goods_3:nth-child(2) .b-preference__text,
		.b-goods.b-goods_3:nth-child(4) .b-preference__text{
			margin-left:158px;
		}
		
			.b-goods_3 span.b-goods__icon-8{
				background-position:0 -6169px;
				height:54px;
				width:59px;
				top:20px;
				left:18px;
			}
			.b-goods_3 span.b-goods__icon-9{
				background-position:0 -6059px;
				height:60px;
				width:59px;
				top:22px;
				left:18px;
			}
			.b-goods_3 span.b-goods__icon-10{
				background-position:0 -2148px;
				height:57px;
				width:51px;
				top:24px;
				left:24px;
			}
			.b-goods_3 span.b-goods__icon-11,
			.b-offer-2__icon span.b-offer-3__icon-7{
				background-position:0 -6121px;
				height:46px;
				width:65px;
				top:29px;
				left:15px;
			}
			
.b-goods-box_4{
	padding:3px 0 20px;
}
			
	.b-goods.b-goods_4{
		display:table !important;
		width:100% !important;
		text-align:left;
		padding-left:0px;
		margin-bottom:4px;
	}
		
		.b-goods.b-goods_4 .b-preference__icon{
			float:left;
			position:relative;
			top:3px;
		}
		
		.b-goods.b-goods_4 .b-preference__text{
			margin-left:120px;
			line-height:100px;
			position:relative;
			top:-5px;
		}
			
			.b-goods.b-goods_4 .b-preference__text span{
				display:inline-block;
				vertical-align:middle;
				line-height:24px;
			}
			
			.b-goods.b-goods_4 span.b-preference__icon-4{
				background-position:0 -6374px;
				height:58px;
				width:57px;
				top:22px;
				left:20px;
			}
			.b-goods.b-goods_4 span.b-preference__icon-5,
			.b-offer-2__icon span.b-offer-3__icon-6{
				background-position:0 -6434px;
				height:52px;
				width:63px;
				top:24px;
				left:23px;
			}
			.b-goods.b-goods_4 span.b-preference__icon-8{
				background-position:0 -6488px;
				height:42px;
				width:61px;
				top:31px;
				left:19px;
			}
			.b-goods.b-goods_4 span.b-preference__icon-text{
				background:none;
				color:#16438d;
				font-size:36px;
				line-height:36px;
				font-weight:600;
				text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
				text-align:center;
				width:100%;
				padding:30px 0 0 2px;
			}
			
.b-content_customs{
	padding-bottom:63px;
}
			
	.b-content_customs p{
		padding-bottom:14px;
	}
	
	.b-content_customs p.b-content__quote{
		margin-bottom:34px;
	}
	
	.b-content_customs .b-content__hd{
		padding-top:15px;
	}
	
.b-branches-wrap{
	height:auto;
}
	
	.b-map_3{
		position:absolute;
		top:0px;
		left:0px;
		height:489px;
		width:100%;
	}
		
		.b-map_3 .b-map{
			margin:19px 0 0;
		}
	
	.b-map__branches{
		padding:591px 0 0;
		position:static;
	}
	
	.b-contacts_branches{
		padding-left:0px !important;
		padding-right:0px !important;
	}
	
		.b-contacts__item_branch{
			border:1px solid #cccccc;
			padding:0 17px;
			margin-bottom:20px;
			position:relative;
		}
		.b-contacts__item_branch:after{
			background:none;
		}
		.b-branch-open{
			position:absolute;
			top:19px;
			right:27px;
			color:#dd4343;
			font-size:11px;
			line-height:12px;
			font-weight:600;
			text-transform:uppercase;
			display:block;
			padding:0 12px 0 0;
			cursor:pointer;
		}
		.b-branch-open:after{
			content:'';
			background:url(../img/icons.png?ver1.2) no-repeat 0 -1273px;
			height:13px;
			width:13px;
			position:absolute;
			top:0px;
			right:-10px;
		}
		.b-contacts__item_branch.contacts_open .b-branch-open:after{
			background-position:-15px -4111px;
		}
			
			.b-contacts__item_branch .b-contacts__hd{
				padding-top:14px;
				padding-bottom:8px;
			}
			
		.b-contacts__item_branch .b-contacts__content{
			padding-top:4px;
			padding-bottom:13px;
		}
			
			.b-contacts_address_2,
			.b-contacts__hd_2{
				color:#16438d;
				font-size:15px;
				line-height:20px;
				font-weight:600;
				font-style:normal;
				display:block;
				padding:0 0 2px;
			}
			
			.b-contacts__description,
			.b-contacts__phones_2{
				font-size:15px;
				line-height:24px;
				display:block;
				padding:0 0 12px;
			}
			
		.b-contacts__item_branch.contacts_open .b-contacts__place{
			color:#333;
			border-bottom-color:#333;
		}
		
		.b-contacts__item_branch.contacts_open{
			border-color:transparent;
			box-shadow:  0px 4px 15px 0px rgba(0,0,0,0.12);
		}
		
.b-input-box_file{
	display:table;
	width:100%;
}
		
.type_file { 
	position: relative;
	height: 34px;
	width:160px;
	float:right;
}

.inputFile {
	position: absolute; 
	top: 0;
	right: 0;
	cursor:pointer;
	z-index: 2;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	width: 160px; 
	font-size:13px;
	height:27px;
}

.fonTypeFile {
	width: 160px; 
	background: none; 
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1; 
	text-align:right;
}
.fonTypeFile:before{
	content:'';
	background:url(../img/icons.png?ver1.2) no-repeat -15px -6687px;
	height:13px;
	width:13px;
	position:absolute;
	top:9px;
	left:6px;
}
.type_file_content:hover .fonTypeFile:before{
	background-position:0 -6687px;
}

.fonTypeFile span{
	color:#999999;
	font:600 13px/20px 'Open Sans', Arial, Helvetica, sans-serif;
	display:inline-block;
	border-bottom:1px dashed #999;
}
.type_file_content:hover .fonTypeFile span{
	color:#16438d;
	border-bottom-color:#16438d;
}

::-webkit-file-upload-button { cursor:pointer; }

.inputFileVal { 
	position: absolute;
	top: 5px;
	left:-220px;
	z-index: 2;
	height:25px;
	max-width: 180px;
	background: #f8f8f8;
	border:0px;
	color:#333;
	font:600 14px 'Open Sans', Arial, Helvetica, sans-serif;
	border:0px;
	text-overflow:ellipsis;
	overflow:hidden;
	cursor:default;
	padding:0 0 0 10px;
	opacity:0;
}

.remove-file{
	background:#f8f8f8;
	height:25px;
	width:25px;
	position:absolute;
	top:5px;
	left:-42px;
	display:block;
	z-index:100;
	cursor:pointer;
	opacity:0;
}
.remove-file:before{
	content:'';
	background:url(../img/icons.png?ver1.2) no-repeat 0 -6720px;
	height:8px;
	width:8px;
	position:absolute;
	top:8px;
	left:9px;
}

.b-button-3{
	margin-top:24px;
}

#search_modal{
	min-width:291px;
	padding-top:14px;
}
	
	.b-form_search-2{
		padding:0 15px;
	}
		
		.b-form .b-form-box .b-form-login__hd-2{
			padding-bottom:16px !important;
		}
		
		.b-button-4{
			margin-top:26px;
			margin-bottom:32px;
		}
		
.b-offers-3{
	padding-bottom:18px;
}
		
	.b-offer-2.b-offer-3{
		width:24%;
		padding-left:0px ;
		margin-bottom:15px;
		left:0px ;
	}
	
	.b-offer-2.b-offer-3:nth-child(1),
	.b-offer-2.b-offer-3:nth-child(5){
		left:36px;
		position:relative;
	}
	.b-offer-2.b-offer-3:nth-child(2),
	.b-offer-2.b-offer-3:nth-child(6){
		padding-left:40px;
	}
	.b-offer-2.b-offer-3:nth-child(3),
	.b-offer-2.b-offer-3:nth-child(7){
		padding-left:18px;
	}
	.b-offer-2.b-offer-3:nth-child(4),
	.b-offer-2.b-offer-3:nth-child(8){
		padding-right:10px;
	}
	
	.b-content_fly .b-content__hd{
		padding-top:9px;
	}
	
	.b-content_fly .b-content__hd_2{
		padding-top:0px;
	}
	
	.b-content_fly p{
		padding-bottom:15px;
	}

	.b-offer-2__icon span.b-offer-3__icon-5{
		background-position:0 -6735px;
		height:48px;
		width:59px;
		top:26px;
		left:17px;
	}
	.b-offer-2__icon span.b-offer-3__icon-8{
		background-position:0 -6785px;
		height:54px;
		width:59px;
		top:22px;
		left:18px;
	}
	
	.b-content_fly .b-content__list_2{
		padding-bottom:9px;
	}
	
.b-content__text-7 br{
	display:none;
}




